<vex-page-layout>
  <vex-page-layout-header
    class="pb-16"
    fxLayout="column"
    fxLayoutAlign="center start"
  >
    <div
      [class.container]="layoutCtrl.value === 'boxed'"
      [class.px-gutter]="layoutCtrl.value === 'fullwidth'"
      class="w-full flex flex-col sm:flex-row justify-between"
    >
      <div>
        <h1 class="title mt-0 mb-1">Formulario de Registro de Artículos</h1>
        <vex-breadcrumbs
          [crumbs]="[
            { value: 'Módulo de Inventario', router: '/app' },
            {
              value: 'Registro de Inventario',
              router: '/app/items'
            },
            {
              value: 'Registro de Artículos',
              router: '/app/items/registro'
            }
          ]"
        ></vex-breadcrumbs>
      </div>
    </div>
  </vex-page-layout-header>

  <vex-page-layout-content
    [class.container]="layoutCtrl.value === 'boxed'"
    [class.px-gutter]="layoutCtrl.value === 'fullwidth'"
    class="-mt-6"
  >
    <div class="card overflow-auto -mt-16">
      <div
        class="bg-app-bar px-6 h-16 border-b sticky left-0"
        fxLayout="row"
        fxLayoutAlign="start center"
      >
        <h1
          class="font-light text-2xl my-0 ltr:pr-4 rtl:pl-4 ltr:mr-4 rtl:ml-4 ltr:border-r rtl:border-l"
          fxFlex="none"
          fxHide.xs
        >
        Registra un nuevo artículo en el sistema
        </h1>
      </div>
      <div @fadeInUp class="card overflow-hidden p-8">
        <!-- ######## Inicio de Sección de CATEGORIZACION ######## -->
        <h2 class="title">Categorización del Artículo</h2>
        <div class="subheading-1">
          Ingresa la información relevante del artículo que deseas registrar
        </div>
        <br />
        <div class="flex flex-col sm:flex-row">
          <mat-form-field class="flex-auto s: ml-1 ancho1">
            <mat-label>Categoria</mat-label>
            <mat-icon [icIcon]="icMoreVert" class="mr-3" matPrefix></mat-icon>
            <mat-select [formControl]="categoriaCtrl" required>
              <mat-option *ngFor="let categoria of categoriaItems" [value]="categoria.key">
                {{ categoria.value.toUpperCase() }}
              </mat-option>
            </mat-select>
            <mat-hint>Selecciona la categoría del artículo</mat-hint>
          </mat-form-field>

          <mat-form-field class="flex-auto s: ml-1 ancho1">
            <mat-label>Selecciona un proveedor</mat-label>
            <mat-icon [icIcon]="icMoreVert" class="mr-3" matPrefix></mat-icon>
            <mat-select
              [formControl]="suppliersCtrl"
              placeholder="Proveedores"
              #supplierSelect
              required
            >
              <mat-option>
                <ngx-mat-select-search
                  placeholderLabel="Busqueda"
                  noEntriesFoundLabel="'No se encontraron proveedores'"
                  [formControl]="suppliersFilterCtrl"
                >
                  <mat-icon
                    [icIcon]="icClose"
                    [inline]="true"
                    size="24px"
                    ngxMatSelectSearchClear
                  ></mat-icon>
                </ngx-mat-select-search>
              </mat-option>

              <mat-option
                *ngFor="let supplier of filteredSuppliers | async"
                [value]="supplier._id"
              >
                {{ supplier.nombre.toUpperCase() }}
              </mat-option>
            </mat-select>
            <mat-hint>Quien es el proveedor del artículo?</mat-hint>
          </mat-form-field>

          <mat-form-field class="flex-auto s: ml-1 ancho1">
            <mat-label>Marca</mat-label>
            <input type="text" [formControl]="marcaCtrl" matInput required />
            <mat-hint>Ingresa la marca del artículo</mat-hint>
          </mat-form-field>

        </div>
        <br />
        <mat-divider></mat-divider>
        <!-- ######## Fin de Sección de CATEGORIZACION ######## -->
        <!-- ######## Inicio de Sección de IDENTIFICACION ######## -->
        <br />
        <h2 class="title">Identificación del Artículo</h2>
        <div class="subheading-1">
          En esta sección, ingresa la información de identificación del artículo
        </div>
        <br />
        <div class="flex flex-col sm:flex-row">
          <mat-form-field class="flex-auto s: ml-1 ancho1">
          <mat-label>Nombre</mat-label>
          <input type="text" [formControl]="nombreCtrl" matInput placeholder="Ingresa el nombre" required />
          <mat-hint>Ingresa el nombre del artículo</mat-hint>
          </mat-form-field>

            <mat-form-field *ngIf="categoriaCtrl.value === '2' || categoriaCtrl.value === '3'" class="flex-auto s: ml-1 ancho1">
              <mat-label>Modelo</mat-label>
              <input type="text" [formControl]="modeloCtrl" matInput placeholder="Ingresa el modelo"  />
              <mat-hint>Ingresa el modelo del artículo</mat-hint>
            </mat-form-field>

        </div>
        <br />
        <div class="flex flex-col sm:flex-row">

            <mat-form-field class="flex-auto s: ml-1 ancho1">
            <mat-label>Descripción</mat-label>
            <textarea [formControl]="descripcionCtrl" matInput placeholder="Ingresa la descripción" required></textarea>
            <mat-hint>Ingresa la descripción del artículo</mat-hint>
            </mat-form-field>

        </div>
        <br />
        <div class="flex flex-col sm:flex-row">
          <mat-form-field class="flex-auto s: ml-1 ancho1">
          <mat-label>Serial</mat-label>
          <input type="text" [formControl]="serialCtrl" matInput placeholder="Ingresa el serial"  />
          <mat-hint>Ingresa el serial del artículo</mat-hint>
          </mat-form-field>

          <mat-form-field class="flex-auto s: ml-1 ancho1">
          <mat-label>SKU</mat-label>
          <input type="text" [formControl]="skuCtrl" matInput placeholder="Ingresa el SKU"  />
          <mat-hint>Ingresa el SKU del artículo</mat-hint>
          </mat-form-field>

        </div>
        <br />
        <div *ngIf="categoriaCtrl.value === '1'" class="flex flex-col sm:flex-row">
          <br />
          <mat-form-field class="flex-auto s: ml-1 ancho1">
            <mat-label>Lote</mat-label>
            <input type="text" [formControl]="loteCtrl" matInput placeholder="Ingresa el lote" />
            <mat-hint>Ingresa el lote del artículo</mat-hint>
          </mat-form-field>

          <mat-form-field class="flex-auto s: ml-1 ancho1">
            <mat-label>Fecha de Vencimiento</mat-label>
            <input matInput [matDatepicker]="picker" [formControl]="fechaVencimientoCtrl" placeholder="Selecciona la fecha" />
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-hint>Selecciona la fecha de vencimiento del artículo</mat-hint>
          </mat-form-field>
        </div>
        <br />
        <mat-divider></mat-divider>
         <!-- ######## Fin de Sección de IDENTIFICACION ######## -->
        <!-- ######## Inicio de Sección de COSTOS Y CANTIDADES ######## -->
        <br />
        <h2 class="title">Datos Cuantitativos y de compra</h2>
        <div class="subheading-1">
          Ingresa la información cuantitativa del artículo y su costo de compra
        </div>
        <br />
        <div class="flex flex-col sm:flex-row">
          <mat-form-field class="flex-auto s: ml-1 ancho1">
            <mat-label>Moneda</mat-label>
            <mat-select [formControl]="monedaCtrl" required>
              <mat-option *ngFor="let moneda of monedaItems" [value]="moneda.key">
                {{ moneda.value.toUpperCase() }}
              </mat-option>
            </mat-select>
            <mat-hint>Selecciona la moneda</mat-hint>
          </mat-form-field>

            <mat-form-field class="flex-auto s: ml-1 ancho1">
            <mat-label>Costo de Compra</mat-label>
            <input type="text" [formControl]="costoCompraCtrl" matInput required appCurrencyMask />
            <mat-hint>Ingresa el costo individual de compra</mat-hint>
            </mat-form-field>
          <mat-form-field class="flex-auto s: ml-1 ancho1">
            <mat-label>Cantidad</mat-label>
            <input type="number" [formControl]="cantidadCtrl" matInput required />
            <mat-hint>Ingresa la cantidad</mat-hint>
          </mat-form-field>
          <br />
        </div>
        <div class="flex flex-col sm:flex-row">

          <mat-form-field class="flex-auto s: ml-1 ancho1">
            <mat-label>Unidad</mat-label>
            <mat-select [formControl]="unidadCtrl" required>
              <mat-option *ngFor="let unidad of unidadItems" [value]="unidad.key">
                {{ unidad.value.toUpperCase() }}
              </mat-option>
            </mat-select>
            <mat-hint>Selecciona la unidad</mat-hint>
          </mat-form-field>

          <mat-form-field class="flex-auto s: ml-1 ancho1">
            <mat-label>Stock Mínimo</mat-label>
            <input type="number" [formControl]="minStockCtrl" matInput required />
            <mat-hint>Ingresa el stock mínimo</mat-hint>
          </mat-form-field>

          <mat-form-field class="flex-auto s: ml-1 ancho1">
            <mat-label>Stock Máximo</mat-label>
            <input type="number" [formControl]="maxStockCtrl" matInput required />
            <mat-hint>Ingresa el stock máximo</mat-hint>
          </mat-form-field>
        </div>
        <br />
        <div class="flex flex-col sm:flex-row">
        <mat-checkbox [formControl]="exentoCtrl" class="ml-1">El artículo es exento de Impuestos?</mat-checkbox>
        </div>
        <div class="mt-4" fxLayout="column" fxLayoutGap="8px">
          <ngx-file-drop
            dropZoneLabel="Arrastra y suelta la factura aquí para adjuntarla"
            (onFileDrop)="dropped($event)"
          >
            <ng-template
              ngx-file-drop-content-tmp
              let-openFileSelector="openFileSelector"
            >
            Arrastra y suelta la factura aquí para adjuntarla.
              <button
                type="button"
                (click)="openFileSelector()"
                color="primary"
                mat-button
              >
                Seleccionar archivo
              </button>
            </ng-template>
          </ngx-file-drop>
        </div>
        <div class="flex flex-col sm:flex-row" *ngIf="invoiceFile">
          <div class="upload-table">
            <table class="w-full">
              <tbody>
                <tr>
                  <td>Factura:</td>
                  <td>
                    <strong>{{  invoiceFile.name }}</strong>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <br>
        <mat-divider></mat-divider>
<!-- ######## Inicio de Sección de COSTOS Y CANTIDADES ######## -->
<br />
<h2 class="title">Anexos e Información complementaria</h2>
<div class="subheading-1">
  Ingresa la información complementaria del artículo y anexos si es necesario
</div>
<br />

<div class="flex flex-col sm:flex-row">
  <mat-form-field class="flex-auto s: ml-1 ancho1">
    <mat-label>Ficha Técnica</mat-label>
    <textarea [formControl]="fichaTecnicaCtrl" matInput placeholder="Ingresa la ficha Técnica" ></textarea>
    <mat-hint>Ingresa la información de la ficha técnica</mat-hint>
    </mat-form-field>
  </div>
  <br />
  <div class="mt-4" fxLayout="column" fxLayoutGap="8px">
    <ngx-file-drop
    dropZoneLabel="Arrastra y suelta las fotos aquí para adjuntarlas"
    (onFileDrop)="photoDropped($event)"
    class="bg-deep-purple-light"
  >
    <ng-template
      ngx-file-drop-content-tmp
      let-openFileSelector="openFileSelector"
    >
      Arrastra y suelta las fotos aquí para adjuntarlas.
      <button
        type="button"
        (click)="openFileSelector()"
        color="warn"
        mat-button
      >
        Seleccionar archivo
      </button>
    </ng-template>
  </ngx-file-drop>
</div>

  <br />
  <div class="card mt-6" *ngIf="imagePreviews.length > 0">
    <div class="px-6 py-4 border-b">
      <h2 class="title m-0">Fotos Cargadas</h2>
    </div>

    <div @stagger class="px-6 py-4 grid grid-cols-2 sm:grid-cols-5 gap-6">
      <img
      *ngFor="let img of imagePreviews"
      @scaleIn
      class="rounded w-full"
      [src]="img"
      alt="Imagen del artículo"
    />
    </div>
  </div>
  <br />
        <div
          class="actions"
          fxLayout="row"
          fxLayoutAlign="end center"
          fxLayoutGap="8px"
        >
          <button
            color="warn"
            mat-raised-button
            type="button"
            (click)="resetItemFormGroup()"
          >
            BORRAR
          </button>
          <div fxLayout="row" fxLayoutAlign="center center">
            <mat-progress-spinner
              diameter="40"
              mode="indeterminate"
              color="primary"
              *ngIf="spinner"
            ></mat-progress-spinner>
          </div>
          <div fxLayout="row" fxLayoutAlign="center center" *ngIf="!spinner">
            <button
              (click)="submit()"
              [disabled]="false"
              color="primary"
              mat-raised-button
            >
              GUARDAR
            </button>
          </div>
        </div>
      </div>

      <!--TODO                       -->
    </div>
  </vex-page-layout-content>
</vex-page-layout>
