<div
  class="bg-pattern w-full h-full overflow-scroll"
  fxLayout="column"
  fxLayoutAlign="center center"
>
  <ngx-spinner
    name="quoteSpinner"
    bdColor="rgba(0, 0, 0, 0.8)"
    size="small"
    color="#fff"
    zIndex="2"
    [fullScreen]="true"
    type="ball-climbing-dot"
    template="<img src='../../../../../assets/img/tlcargo/tl_cargo_3.png' width='50px' height='50px'>"
    ><p style="color: white">Loading...</p></ngx-spinner
  >
  <div @fadeInUp class="card w-full max-w-4xl">
    <div class="p-8 pb-0" fxLayout="column" fxLayoutAlign="center center">
      <div class="fill-current text-center">
        <img class="w-32" src="assets/img/tlcargo/tl_cargo_3.png" />
      </div>
    </div>

    <div class="text-center mt-4">
      <h1>Confirmación de cotización</h1>
    </div>
    <div class="p-3" fxLayout="column" fxLayoutGap="16px">
      <div
        fxLayout="column"
        fxLayoutAlign="space-around center"
        class="px-3 text-base content-center"
      >
        <h2>¡Gracias por seguir confiando en la Familia de TL Cargo Miami!</h2>
        <p class="p-3 text-base text-justify">
          Hola <b>{{ this.customer.name }}</b
          >, estas a punto de aceptar la cotización de tu envio, si continuas
          estarás Pre-aprobando la cotización, por lo tanto nuestro equipo
          estará generando a la brevedad una guía con el costo asociado a la
          tarifa presentada en el correo previo, te notificaremos cuando la guía
          este en transito.
        </p>
        <table
          role="presentation"
          border="0"
          cellpadding="0"
          cellspacing="0"
          style="text-align: center"
          width="100%"
        >
          <tr>
            <td
              style="
                text-align: center;
                padding-left: 15px;
                padding-right: 15px;
              "
            >
              <div
                style="
                  background: #1a99bd;
                  border-radius: 20px;
                  color: black;
                  padding: 15px;
                "
              >
                <h1 class="text-center mt-4">
                  Tipo de Cotización:
                  {{ this.guide.name.includes("AIR") ? "Aereo" : "Marítimo" }}
                </h1>
                <br />
                <h2 style="font-size: 16pt">Costo total de la cotización:</h2>
                <br />
                <h3 style="font-size: 24pt">
                  {{
                    this.guide.cost.toLocaleString("en", {
                      style: "currency",
                      currency: "USD"
                    })
                  }}
                </h3>
              </div>
            </td>
          </tr>
        </table>
        <br />
        <div
          align="center"
          valign="middle"
          style="
            background: #1a99bd;
            font-family: Helvetica, Arial, sans-serif;
            font-size: 16px;
            font-weight: bold;
            letter-spacing: -0.5px;
            line-height: 150%;
            padding-top: 15px;
            padding-right: 30px;
            padding-bottom: 15px;
            padding-left: 30px;
            border-radius: 10px;
            cursor: pointer;
          "
          (click)="aceptarCotizacion()"
          *ngIf="isQuote"
        >
          Si, quiero confirmar esta cotización!
        </div>
        <br />
        <br /><br />
        <p class="px-1 text-base content-center">
          Olvídese de trámites de aduana o nacionalización; nosotros nos
          encargamos de todo hasta la puerta de su casa.
        </p>
        <p class="px-1 text-base content-center">
          Nuestros canales de comunicación siempre estan abiertos para atender
          cualquier duda o consulta!
        </p>
        <div
          fxLayout="row"
          fxLayoutAlign="space-around center"
          class="px-1 text-base content-center"
        >
          <a
            href="//api.whatsapp.com/send?phone=+17866034298&text=Hola, estoy en el proceso de aceptación de la cotización y necesito mas información, mi codigo de casillero es {{
              this.customer.tlCargoName
            }}"
            title="Share on whatsapp"
          >
            <img
              src="../../../../assets/img/icons/logos/WS.png"
              width="50px"
              height="50px"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
