<form (ngSubmit)="save()" [formGroup]="form">
  <div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>
    <h2 *ngIf="form.get('name').value" class="headline m-0" fxFlex="auto">
      {{ form.get("name").value }}
    </h2>
    <h2 *ngIf="!form.get('name').value" class="headline m-0" fxFlex="auto">
      New Rate
    </h2>

    <button
      class="text-secondary"
      mat-dialog-close
      mat-icon-button
      type="button"
    >
      <mat-icon [icIcon]="icClose"></mat-icon>
    </button>
  </div>

  <mat-divider class="-mx-6 text-border"></mat-divider>

  <mat-dialog-content fxLayout="column">
    <div class="flex flex-col sm:flex-row">
      <mat-form-field class="mt-6 flex-auto">
        <mat-label>Rate Name</mat-label>
        <input cdkFocusInitial formControlName="name" matInput />

        <mat-icon [icIcon]="icDescription" class="mr-3" matPrefix></mat-icon>
      </mat-form-field>
    </div>

    <mat-form-field class="flex-auto">
      <mat-label>Rate Amount</mat-label>
      <input formControlName="rate" matInput />

      <mat-icon [icIcon]="icMoney" class="mr-3" matPrefix></mat-icon>
    </mat-form-field>

    <div class="flex flex-col sm:flex-row">
      <mat-form-field fxFlex="auto">
        <mat-label>Shipping Type Rate</mat-label>
        <mat-select formControlName="type" matInput>
          <mat-option value="AIR">
            <span>AIR</span>
          </mat-option>
          <mat-option value="SEA">
            <span>SEA</span>
          </mat-option>
        </mat-select>
        <mat-icon [icIcon]="icAirplane" class="mr-3" matPrefix></mat-icon>
        <mat-hint>Type of Shipping asociate with the rate?</mat-hint>
      </mat-form-field>

      <mat-form-field fxFlex="auto">
        <mat-label>Status</mat-label>
        <mat-select formControlName="status" matInput>
          <mat-option value="1">
            <span>ON</span>
          </mat-option>
          <mat-option value="0">
            <span>OFF</span>
          </mat-option>
        </mat-select>
        <mat-icon [icIcon]="icOfflineBolt" class="mr-3" matPrefix></mat-icon>
        <mat-hint>This rate is available?</mat-hint>
      </mat-form-field>
    </div>

    <mat-form-field class="flex-auto">
      <mat-label>Notes</mat-label>
      <textarea formControlName="notes" matInput></textarea>
    </mat-form-field>
    <div class="flex flex-col sm:flex-row">
      <mat-checkbox
        class="checkbox"
        [formControl]="selectCityCtrl"
        value="false"
      >
        Do you want to associate a city to this rate?
      </mat-checkbox>
    </div>
    <div *ngIf="selectCityCtrl.value">
      <br />
      <div fxLayout="row" fxLayoutAlign="start center">
        <h3 fxFlex="auto">Select a city</h3>
      </div>
      <div class="flex flex-col sm:flex-row">
        <mat-form-field class="mt-6 flex-auto">
          <mat-icon [icIcon]="icMoreVert" class="mr-3" matPrefix></mat-icon>
          <mat-select
            [formControl]="countryCtrl"
            placeholder="Country"
            #countrySelect
            (selectionChange)="findStates()"
            [(ngModel)]="this.selectedCountry"
            required
          >
            <mat-option>
              <ngx-mat-select-search
                placeholderLabel="Search"
                noEntriesFoundLabel="'Not Country Found'"
                [formControl]="countryFilterCtrl"
              >
                <mat-icon
                  [icIcon]="icClose"
                  [inline]="true"
                  size="24px"
                  ngxMatSelectSearchClear
                ></mat-icon>
              </ngx-mat-select-search>
            </mat-option>

            <mat-option
              *ngFor="let country of filteredCountries | async"
              [value]="country"
            >
              {{ country.name }}
            </mat-option>
          </mat-select>
          <mat-hint align="start">Enter the country of the city</mat-hint>
        </mat-form-field>
      </div>
      <div class="flex flex-col sm:flex-row">
        <mat-form-field class="mt-6 flex-auto">
          <mat-icon [icIcon]="icMoreVert" class="mr-3" matPrefix></mat-icon>
          <mat-select
            [formControl]="stateCtrl"
            placeholder="State"
            #stateSelect
            (selectionChange)="findCities()"
            [(ngModel)]="this.selectedState"
            required
          >
            <mat-option>
              <ngx-mat-select-search
                placeholderLabel="Search"
                noEntriesFoundLabel="'No state found'"
                [formControl]="stateFilterCtrl"
              >
                <mat-icon
                  [icIcon]="icClose"
                  [inline]="true"
                  size="24px"
                  ngxMatSelectSearchClear
                ></mat-icon>
              </ngx-mat-select-search>
            </mat-option>

            <mat-option
              *ngFor="let state of filteredStates | async"
              [value]="state"
            >
              {{ state.name }}
            </mat-option>
          </mat-select>
          <mat-hint align="start">Now, select the state</mat-hint>
        </mat-form-field>
      </div>
      <div class="flex flex-col sm:flex-row">
        <mat-form-field class="mt-6 flex-auto">
          <mat-label>City</mat-label>
          <mat-icon [icIcon]="icMoreVert" class="mr-3" matPrefix></mat-icon>
          <mat-select
            [formControl]="cityCtrl"
            placeholder="City"
            #citySelect
            [(ngModel)]="this.selectedCity"
            required
          >
            <mat-option>
              <ngx-mat-select-search
                placeholderLabel="Search"
                noEntriesFoundLabel="'No city found'"
                [formControl]="cityFilterCtrl"
              >
                <mat-icon
                  [icIcon]="icClose"
                  [inline]="true"
                  size="24px"
                  ngxMatSelectSearchClear
                ></mat-icon>
              </ngx-mat-select-search>
            </mat-option>

            <mat-option
              *ngFor="let city of filteredCities | async"
              [value]="city"
            >
              {{ city.name }}
            </mat-option>
          </mat-select>
          <mat-hint align="start">Just select the city that you want</mat-hint>
        </mat-form-field>
      </div>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close type="button">CANCEL</button>
    <div fxLayout="row" fxLayoutAlign="center center">
      <mat-progress-spinner
        diameter="40"
        mode="indeterminate"
        color="primary"
        *ngIf="spinner"
      ></mat-progress-spinner>
    </div>
    <div *ngIf="!spinner">
      <button *ngIf="isCreateMode()" color="primary" mat-button type="submit">
        CREATE RATE
      </button>
      <button *ngIf="isUpdateMode()" color="primary" mat-button type="submit">
        UPDATE RATE
      </button>
    </div>
  </mat-dialog-actions>
</form>
