<div class="w-full h-full" fxLayout="column">
  <div style="text-align: right; padding: 10px">
    <button
      class="mat-focus-indicator mat-raised-button mat-button-base mat-primary"
      mat-button
      (click)="onPrint()"
    >
      PRINT
    </button>
  </div>
  <div class="p-gutter container" style="overflow-y: auto">
    <div @fadeInUp class="card p-16" id="printable">
      <div fxLayout="row">
        <div fxFlex="50%">
          <img class="h-20" src="assets/img/tlcargo/tl_cargo_3.png" />
        </div>
        <div
          id="tlCargoInfo1"
          fxFlex="50%"
          fxLayout="column"
          style="text-align: right"
        >
          <h3>TL Cargo</h3>
          <span style="font-size: xx-small">
            8520 NW 66th St <br />MIAMI, FL 33166.<br />UNITED STATES<br />
            Tel: (USA) 786-409-7088<br />
            Tel: (VE) 212-7204488
          </span>
        </div>
      </div>
      <br />
      <div fxLayout="row">
        <div fxFlex="50%">
          <h1>
            <b>{{ this.guide.tlCargoId }}</b>
          </h1>
        </div>
        <!-- <div fxFlex="100%" fxLayout="column" style="text-align: center">
          <ngx-barcode
            id="guideBarCode"
            [bc-height]="30"
            [bc-width]="2"
            [bc-value]="this.guide.tlCargoId"
            [bc-display-value]="true"
          ></ngx-barcode>
        </div> -->
      </div>
      <br />
      <hr />
      <br />
      <div class="rowInvoice">
        <div class="columnInvoice">
          <table class="tg">
            <colgroup>
              <col span="1" style="width: 25%" />
              <col span="1" style="width: 25%" />
              <col span="1" style="width: 50%" />
            </colgroup>
            <thead>
              <tr>
                <th class="tg-ar5m">Fecha</th>
                <th class="tg-ar5m">Fecha de vencimiento</th>
                <th class="tg-ar5m">Numero de recibo</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="tg-c3qv">
                  {{ this.creationDate.toLocaleDateString() || "" }}
                </td>
                <td class="tg-c3qv">
                  {{ this.creationDate.toLocaleDateString() || "" }}
                </td>
                <td class="tg-c3qv">
                  <b>{{ this.guide.tlCargoId }}</b>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="columnInvoice">
          <table class="tg">
            <thead>
              <tr>
                <th class="tg-ar5m-2" style="width: 50%">Terminos de pago</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="tg-c3qv">Pago en entrega</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="rowInvoice">
        <div class="columnInvoice">
          <table class="tg">
            <thead>
              <tr>
                <th class="tg-ar5m">Facturar a:</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="tg-c3qv">
                  <b>{{ guide.customer.name }}</b>
                  <br />
                  Tel: {{ guide.customer.phoneNumber }} - Email:
                  {{ guide.customer.email }}
                </td>
              </tr>
              <tr>
                <td class="tg-c3qv">
                  Dirección de facturación: {{ this.billingAddress.address }},
                  {{ this.billingAddress.address2 }}<br />
                  {{ this.billingAddress.city }} -
                  {{ this.billingAddress.state }},
                  {{ this.billingAddress.country }}<br />
                  Código Postal: {{ this.billingAddress.zipcode }}<br />&nbsp;
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="columnInvoice">
          <table class="tg">
            <thead>
              <tr>
                <th class="tg-ar5m">Detalles de envío</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="tg-c3qv-xs">
                  Recibe: {{ guide.customer.name }}<br />
                  Origen/Destino:
                  {{ guide.quote ? "MIAMI" : guide.shipping.departureHub.city }}
                  / {{ guide.quote ? "CCS" : guide.shipping.arrivalHub.city
                  }}<br />
                  Fecha de creación: {{ guide.creationDate }}<br />
                  House Bill: {{ guide.tlCargoId }}<br />
                  Piezas / Peso: {{ guide.packageList.length }} /
                  {{
                    guide.finalWeight > guide.finalVlb
                      ? guide.finalWeight + " libras"
                      : guide.finalVlb + " vlb"
                  }}<br />
                  Volumen: {{ +guide.finalVolume.toFixed(2) }}<br />
                  Nombre del envio:
                  {{ guide.quote ? "N/A" : guide.shipping.name }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <table id="table1" class="table w-full mt-24">
        <thead>
          <tr>
            <th class="body-2 text-left" style="width: 40%">Descripción</th>
            <th class="body-2 text-right" style="width: 10%">Cantidad</th>
            <th class="body-2 text-right" style="width: 10%">Peso / Vol.</th>
            <th class="body-2 text-right" style="width: 20%">Precio</th>
            <th class="body-2 text-right" style="width: 20%">Total</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="py-6 border-b text-secondary">
              {{
                prefixType === "AIR"
                  ? "Servicio de carga aérea"
                  : "Servicio de carga marítima"
              }}
            </td>
            <td class="py-6 border-b text-right text-secondary">1</td>
            <td class="py-6 border-b text-right text-secondary">
              <div *ngIf="prefixType === 'SEA'">{{ q }} ft<sup>3</sup></div>
              <div *ngIf="prefixType === 'AIR'">{{ q }}</div>
            </td>
            <td class="py-6 border-b text-right text-secondary">
              {{
                guide.rateAmount.toLocaleString("en", {
                  style: "currency",
                  currency: "USD"
                })
              }}
            </td>
            <td class="py-6 border-b text-right text-secondary">
              {{
                finalCost.toLocaleString("en", {
                  style: "currency",
                  currency: "USD"
                })
              }}
            </td>
          </tr>
          <tr *ngFor="let discount of discountRegistry">
            <td class="py-6 border-b text-secondary">
              Registro de descuento
              <span style="font-size: 6pt">
                fecha: {{ discount.paymentDate.split("T")[0] }} /
                {{ discount.paymentDate.split("T")[1].split(".")[0] }}</span
              >
            </td>
            <td class="py-6 border-b text-right text-secondary">1</td>
            <td class="py-6 border-b text-right text-secondary">N/A</td>
            <td class="py-6 border-b text-right text-secondary">
              -{{
                discount.discount.toLocaleString("en", {
                  style: "currency",
                  currency: "USD"
                })
              }}
            </td>
            <td class="py-6 border-b text-right text-secondary">
              {{
                (finalCost - discount.discount).toLocaleString("en", {
                  style: "currency",
                  currency: "USD"
                })
              }}
            </td>
          </tr>
          <tr>
            <td class="py-6 border-b"></td>
            <td class="py-6 border-b"></td>
            <td class="py-6 border-b"></td>
            <td class="py-6 border-b"></td>
            <td class="py-6 border-b"></td>
          </tr>
          <tr>
            <td class="py-6 border-b"></td>
            <td class="py-6 border-b"></td>
            <td class="py-6 border-b"></td>
            <td class="py-6 border-b"></td>
            <td class="py-6 border-b"></td>
          </tr>
          <tr>
            <td class="py-6 border-b"></td>
            <td class="py-6 border-b"></td>
            <td class="py-6 border-b"></td>
            <td class="py-6 border-b"></td>
            <td class="py-6 border-b"></td>
          </tr>
        </tbody>
      </table>
      <table id="table2" class="table w-full mt-24">
        <thead>
          <tr>
            <td class="headline font-medium text-left pt-6">
              {{
                prefixType === "AIR"
                  ? "Servicio de carga aérea"
                  : "Servicio de carga marítima"
              }}
            </td>
            <td
              class="headline font-medium text-left pt-6"
              style="text-align: right"
              colspan="3"
            >
              TOTALS (USD$)
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <div
                [ngClass]="previewClass"
                class="h-6 align-middle ltr:mr-2 rtl:ml-2 rounded inline-block"
                style="padding: 3px"
              >
                <span style="font-size: small; font-weight: bold">{{
                  this.statusText
                }}</span>
              </div>
            </td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="body-2 text-right">PRE - TOTAL</td>
            <td class="body-2 text-right">
              {{
                finalCost.toLocaleString("en", {
                  style: "currency",
                  currency: "USD"
                })
              }}
            </td>
          </tr>
          <tr>
            <td class="body-2 text-right">TOTAL DESCUENTOS</td>
            <td class="body-2 text-right">
              {{
                totalDiscount.toLocaleString("en", {
                  style: "currency",
                  currency: "USD"
                })
              }}
            </td>
          </tr>
          <tr>
            <td class="body-2 text-right">PAGOS PARCIALES</td>
            <td class="body-2 text-right">
              {{
                paidAmount.toLocaleString("en", {
                  style: "currency",
                  currency: "USD"
                })
              }}
            </td>
          </tr>
          <tr>
            <td class="body-2 text-right">TOTAL</td>
            <td class="body-2 text-right">
              {{
                (finalCost - totalDiscount - paidAmount).toLocaleString("en", {
                  style: "currency",
                  currency: "USD"
                })
              }}
            </td>
          </tr>
        </tbody>
      </table>
      <div
        class="mt-8"
        fxLayout="column"
        fxLayoutAlign="start end"
        style="font-size: 10pt"
      >
        Powered by www.doghoundtechnology.com
      </div>
    </div>
  </div>
</div>
