<div class="p-6 bg-app-bar" id="printable">
  <mat-card class="max-w-full" style="width: 600px">
    <mat-card-header class="header-center">
      <mat-card-title class="img-center">
        <img
          src="../../../../assets/img/tlcargo/logo_BW.png"
          width="300px"
          height="200px"
        />
      </mat-card-title>
      <mat-card-subtitle class="sub-title">
        <mat-divider class="mat-divider"></mat-divider>
        {{ this.guide.customer.tlCargoName }}<br />
        {{ this.guide.customer.name.toUpperCase() }}
      </mat-card-subtitle>
    </mat-card-header>
    <div style="display: flex; justify-content: center">
      <qr-code [value]="urlItem" size="300"></qr-code>
    </div>
    <mat-card-content>
      <br />
      <mat-divider class="mat-divider"></mat-divider>
      <div class="carga-id">
        {{
          this.guide._id.toString()
            | tlCargoId : (this.guide.shipping.type === "AIR" ? "HAWB" : "HBOL")
        }}
      </div>
      <table style="width: 100%">
        <tr>
          <td class="cell-left">PIECE&nbsp;</td>
          <td class="cell-right">&nbsp;TOTAL</td>
        </tr>
        <tr>
          <td class="cell-left">{{ this.pieza }}&nbsp;&nbsp;</td>
          <td class="cell-right">
            &nbsp;&nbsp;{{ this.guide.packageList.length }}
          </td>
        </tr>
      </table>
    </mat-card-content>
  </mat-card>
</div>
