.mat-divider{
  border-top-width: 4px;
}

.img-center {
  display: flex;
  justify-content: center;
}

.header-center {
  flex-direction: column;
  display: flex;
  justify-content: center;
}

.sub-title {
  display: flex;
  justify-content: center;
  padding: 20px;
  margin: 20px;
  font-size: 36pt;
  font-weight: bold;
  text-align: center;
  color: black;
}

.carga-id {
  padding: 10px;
  margin: 10px;
  font-size: 36pt;
  font-weight: bold;
  text-align: center;
}

.description-container {
  font-size: 18pt;
  font-weight: normal;
  text-align: center;
  line-height: 30px;
}

.cell-left {
  padding: 10px;
  margin: 10px;
  border-bottom-width: 4px;
  border-bottom-color: lightgray;
  border-right-width: 4px;
  border-right-color: lightgray;
  border-top-width: 4px;
  border-top-color: lightgray;
  font-size: 20pt;
  text-align: right;
}

.cell-right {
  padding: 10px;
  margin: 10px;
  border-bottom-width: 4px;
  border-bottom-color: lightgray;
  border-top-width: 4px;
  border-top-color: lightgray;
  font-size: 20pt;
  text-align: left;
}

