.tag {
    display: inline-block;
    font-size: 8pt;
    padding: 0.2rem 0.5rem;
    color: #fff;
    border-radius: 0.5rem;
}

.tag--process {
    background-color: #dc3545;
}

.tag--in-transit {
    background-color: #28a745;
}

.tag--arrived {
    background-color: #ffc107;
}

.tag--delivered {
    background-color: #007bff;
}
