<vex-page-layout>
  <vex-page-layout-header
    class="pb-16"
    fxLayout="column"
    fxLayoutAlign="center start"
  >
    <div
      [class.container]="layoutCtrl.value === 'boxed'"
      [class.px-gutter]="layoutCtrl.value === 'fullwidth'"
      class="w-full flex flex-col sm:flex-row justify-between"
    >
      <div *ngIf="this.type === 'guide'">
        <h1 class="title mt-0 mb-1">Shipping Guides Registry</h1>
        <vex-breadcrumbs
          [crumbs]="[
            { value: 'Outgoing Shipping Module', router: '/app' },
            {
              value: 'Shipping Guides',
              router: '/app/guides'
            },
            {
              value: 'Shipping Guides Registry',
              router: '/app/guides'
            }
          ]"
        ></vex-breadcrumbs>
      </div>
      <div *ngIf="this.type === 'quote'">
        <h1 class="title mt-0 mb-1">Shipping Quotes Registry</h1>
        <vex-breadcrumbs
          [crumbs]="[
            { value: 'Accounting Module', router: '/app' },
            {
              value: 'Shipping Quotes',
              router: '/app/shipping-quotes'
            },
            {
              value: 'Shipping Quotes Registry',
              router: '/app/shipping-quotes'
            }
          ]"
        ></vex-breadcrumbs>
      </div>
    </div>
  </vex-page-layout-header>
  <vex-page-layout-content
    [class.container]="layoutCtrl.value === 'boxed'"
    [class.px-gutter]="layoutCtrl.value === 'fullwidth'"
    class="-mt-6 p-4"
  >
    <div class="card overflow-auto -mt-16 p-4">
      <div
        class="bg-app-bar px-6 h-16 border-b sticky left-0"
        fxLayout="row"
        fxLayoutAlign="start center"
      >
        <h2
          *ngIf="this.type === 'guide' && !this.defaults"
          class="headline m-0"
          fxFlex="auto"
        >
          Guide Creation Form
        </h2>
        <h2
          *ngIf="this.type === 'guide' && this.defaults"
          class="headline m-0"
          fxFlex="auto"
        >
          <span *ngIf="this.defaults.name.includes('AIR')">
            <mat-icon class="mr-3 text-xs" matPrefix>
              <span class="material-symbols-outlined"> flight </span>
            </mat-icon>
          </span>
          <span *ngIf="this.defaults.name.includes('SEA')">
            <mat-icon class="mr-3 text-xs" matPrefix>
              <span class="material-symbols-outlined"> directions_boat </span>
            </mat-icon>
          </span>
          {{ this.defaults.tlCargoId }} Edition Form
        </h2>
        <h2
          *ngIf="this.type === 'quote' && !this.defaults"
          class="headline m-0"
          fxFlex="auto"
        >
          Quote Creation Form
        </h2>
        <h2
          *ngIf="this.type === 'quote' && this.defaults"
          class="headline m-0"
          fxFlex="auto"
        >
          <span *ngIf="this.defaults.name.includes('AIR')">
            <mat-icon class="mr-3 text-xs" matPrefix>
              <span class="material-symbols-outlined"> flight </span>
            </mat-icon>
          </span>
          <span *ngIf="this.defaults.name.includes('SEA')">
            <mat-icon class="mr-3 text-xs" matPrefix>
              <span class="material-symbols-outlined"> directions_boat </span>
            </mat-icon>
          </span>
          {{ this.defaults.tlCargoId }} Edition Form
        </h2>
      </div>

      <div @fadeInUp class="card overflow-hidden p-5">
        <h2 class="subheading-2">Customer & Packages Information</h2>
        <br />
        <div class="subheading-1">
          Select the customer to generate the shipping guide & select from the
          available packages
        </div>
        <div class="flex flex-col sm:flex-row" *ngIf="defaults">
          <mat-form-field class="flex-auto xs: ml-1 width:60px">
            <mat-label>Customer</mat-label>
            <input
              type="text"
              [formControl]="customerCtrl"
              [readonly]="true"
              matInput
            />
            <mat-hint>Who is receiving the package?</mat-hint>
          </mat-form-field>
        </div>
        <div class="flex flex-col sm:flex-row" *ngIf="!defaults">
          <mat-form-field class="flex-auto s: ml-1">
            <mat-label>Select a Customer</mat-label>
            <mat-icon [icIcon]="icMoreVert" class="mr-3" matPrefix></mat-icon>
            <mat-select
              [formControl]="customersCtrl"
              placeholder="Customers"
              #customersSelect
              (selectionChange)="showUserInfo()"
              required
            >
              <mat-option>
                <ngx-mat-select-search
                  placeholderLabel="Search a customer, enter at least 4 characters"
                  noEntriesFoundLabel="'No Customer Found'"
                  (ngModelChange)="filterCustomer()"
                  [formControl]="customersFilterCtrl"
                >
                  <mat-icon
                    [icIcon]="icClose"
                    [inline]="true"
                    size="24px"
                    ngxMatSelectSearchClear
                  ></mat-icon>
                </ngx-mat-select-search>
              </mat-option>

              <mat-option
                *ngFor="let customer of filteredCustomers | async"
                [value]="customer._id"
              >
                {{ customer.name }} - {{ customer.tlCargoName }}
              </mat-option>
            </mat-select>
            <mat-hint>Who is receiving the package?</mat-hint>
          </mat-form-field>
        </div>
        <div
          class="sm:flex-row"
          style="overflow-y: scroll"
          *ngIf="customerSelected && this.customerPackages"
        >
          <vex-picking-list-package
            (packagesSelected)="setPackage($event)"
            [customerId]="customersCtrl.value"
            [customerPackageArray]="this.customerPackages"
            *ngIf="mode !== 'update'"
          ></vex-picking-list-package>
          <vex-picking-list-package
            (packagesSelected)="setPackage($event)"
            [customerId]="customersCtrl.value"
            [customerPackageArray]="this.customerPackages"
            [selectedPackageArray]="packageSelected"
            *ngIf="mode === 'update'"
          ></vex-picking-list-package>
        </div>

        <div
          *ngIf="customerSelected && this.customerPackages"
          class="flex flex-col sm:flex-row"
          style="padding-top: 20px"
        >
          <!--  DIV para los los Repacking   -->
          <span *ngIf="this.packageSelected">
            <span *ngIf="this.packageSelected.length > 0">
              <mat-checkbox class="checkbox" [formControl]="repackingCtrl">
                Repacking of the selected packages? </mat-checkbox
              ><br />
              <span
                style="font-size: xx-small; padding-left: 5px"
                class="text-secondary"
                >This process cannot be undone, to undo it, the package
                resulting from the Repackage process must be eliminated.
              </span>
            </span>
          </span>
        </div>
        <div
          class="flex-auto sm:flex-row"
          *ngIf="repackingCtrl.value && this.repacking"
          style="padding-top: 20px"
        >
          <br />
          <div class="sm:flex-row md:flex-row" style="overflow-y: scroll">
            <vex-temp-repacking-registry
              [customerPackageArray]="this.packageSelected"
              (packagesSelected)="setPackageSelected($event)"
            ></vex-temp-repacking-registry>
          </div>
          <br />
          <div *ngIf="!needPkgType">
            <!-- <div class="flex flex-row text-xs">
        <span class="flex-auto w-44 pr-2">
          Actual Height: {{ oldHeight }} (in)
        </span>
        <span class="flex-auto w-44 pr-2">
          Actual Width {{ oldWidth }} (in)
        </span>
        <span class="flex-auto w-44 pr-2">
          Actual Length: {{ oldLength }} (in)
        </span>
        <span class="flex-auto w-58"> </span>
      </div> -->
            <form [formGroup]="packageFormGroup">
              <mat-form-field class="flex-auto w-44 pr-2">
                <mat-label>Height</mat-label>
                <input
                  formControlName="height"
                  (keypress)="keyPressNumbersWithDecimal($event, 'height')"
                  (focusout)="calculaVolume_HxWxL()"
                  matInput
                />
                <mat-icon [icIcon]="icRule" class="mr-3" matPrefix></mat-icon>
                <mat-hint align="start"
                  >Enter the measurements in inches</mat-hint
                >
              </mat-form-field>
              <mat-form-field class="flex-auto w-44 pr-2">
                <mat-label>Width</mat-label>
                <input
                  formControlName="width"
                  (keypress)="keyPressNumbersWithDecimal($event, 'width')"
                  (focusout)="calculaVolume_HxWxL()"
                  matInput
                />
                <mat-icon [icIcon]="icRule" class="mr-3" matPrefix></mat-icon>
              </mat-form-field>
              <mat-form-field class="flex-auto w-44 pr-2">
                <mat-label>Length</mat-label>
                <input
                  formControlName="length"
                  (keypress)="keyPressNumbersWithDecimal($event, 'length')"
                  (focusout)="calculaVolume_HxWxL()"
                  matInput
                />
                <mat-icon [icIcon]="icRule" class="mr-1" matPrefix></mat-icon>
              </mat-form-field>
              <mat-form-field class="flex-auto w-58">
                <mat-label>Type</mat-label>
                <mat-select formControlName="type" matInput>
                  <mat-option value="">Select package type</mat-option>
                  <mat-option value="BAG">BAG</mat-option>
                  <mat-option value="BOX">BOX</mat-option>
                  <mat-option value="CRATE">CRATE</mat-option>
                  <mat-option value="PALLET">PALLET</mat-option>
                </mat-select>
              </mat-form-field>
            </form>
          </div>
          <div class="sm:flex-row md:flex-row" *ngIf="needPkgType">
            <mat-form-field class="flex-auto s: ml-1" style="width: 70%">
              <mat-label>New Package Type</mat-label>
              <mat-icon [icIcon]="icMoreVert" class="mr-3" matPrefix></mat-icon>
              <mat-select
                [formControl]="packageTypesCtrl"
                placeholder="Package Type"
                (selectionChange)="calculaVolume()"
                #packageTypesSelect
                matInput
                required
              >
                <mat-option>
                  <ngx-mat-select-search
                    placeholderLabel="Search"
                    noEntriesFoundLabel="Not Package Type Found"
                    [formControl]="packageTypesFilterCtrl"
                  >
                    <mat-icon
                      [icIcon]="icClose"
                      [inline]="true"
                      size="24px"
                      ngxMatSelectSearchClear
                    ></mat-icon>
                  </ngx-mat-select-search>
                </mat-option>

                <mat-option
                  *ngFor="let packageType of filteredPackageTypes | async"
                  [value]="packageType._id"
                >
                  {{ packageType.name }} - Measures (inches) H:{{
                    packageType.height
                  }}
                  x W:{{ packageType.width }} x L:{{ packageType.length }}
                </mat-option>
              </mat-select>
              <mat-hint>Type of new package?</mat-hint>
            </mat-form-field>
            <span class="flex-auto xs: ml-1" style="width: 30%">
              <button
                (click)="createPackageType()"
                [disabled]="false"
                color="primary"
                mat-button
                type="button"
              >
                NEW ONE
              </button>
            </span>
          </div>
          <br />
          <div class="flex flex-col sm:flex-row">
            <mat-slide-toggle
              color="primary"
              [checked]="false"
              (change)="onChange($event)"
            >
              Or do you want to select one of the system's registered package
              types instead?
            </mat-slide-toggle>
          </div>
        </div>

        <div
          class="mt-4"
          fxLayout="column"
          fxLayoutGap="8px"
          *ngIf="repackingCtrl.value && this.repacking"
        >
          <div
            class="flex flex-col sm:flex-row"
            style="padding-top: 20px"
            *ngIf="customerSelected"
          >
            <span class="flex-auto xs: ml-1 anchoTercio_1">
              Actual Weight: {{ oldWeight }} (pounds lb)
            </span>
            <span class="flex-auto xs: ml-1 anchoTercio_2">
              Actual Volume: {{ oldVolume }} ft<sup>3</sup>
            </span>
            <span class="flex-auto xs: ml-1 anchoTercio_3">
              Actual Volumetric Weight: {{ oldVolumeWeight }} Vlb
            </span>
          </div>
          <div fxLayout="row">
            <mat-form-field class="flex-auto xs: ml-1 width:60px">
              <mat-label>New Package Weight</mat-label>
              <input
                type="text"
                [formControl]="weightCtrl"
                (change)="costCalculate()"
                matInput
              />
              <mat-hint>Weight (pounds lb)</mat-hint>
            </mat-form-field>
            <mat-form-field class="flex-auto xs: ml-1 width:40px">
              <mat-label>New Package Volume</mat-label>
              <input
                type="text"
                [formControl]="volumeCtrl"
                matInput
                [readonly]="true"
              />
              <mat-hint>Volume (ft<sup>3</sup>)</mat-hint>
            </mat-form-field>
            <mat-form-field class="flex-auto xs: ml-1 width:40px">
              <mat-label>New Package Volumetric Weight</mat-label>
              <input
                type="text"
                [formControl]="vlbCtrl"
                matInput
                [readonly]="true"
              />
              <mat-hint>Volumetric Weight (vlb)</mat-hint>
            </mat-form-field>
          </div>
          <div class="mt-4" fxLayout="column" fxLayoutGap="8px">
            <mat-form-field class="flex-auto">
              <mat-label>Notes</mat-label>
              <textarea [formControl]="shipperNoteCtrl" matInput></textarea>
              <mat-hint
                >If you have something to say regarding the repacking process,
                feel free to expose all the details.</mat-hint
              >
            </mat-form-field>
          </div>
          <div class="mt-4" fxLayout="column" fxLayoutGap="8px">
            <mat-form-field class="flex-auto">
              <mat-label>Warehouse Location</mat-label>
              <input
                type="text"
                [formControl]="physicalLocationCtrl"
                matInput
              />
              <mat-hint
                >Enter the reference regarding the location of the new repacked
                box in the warehouse.</mat-hint
              >
            </mat-form-field>
            <div class="flex flex-col sm:flex-row">
              <span
                style="font-size: small; padding-left: 5px"
                class="text-secondary"
                fxLayoutGap="5px"
                >Take a picture...</span
              >
            </div>
            <br />
            <div class="flex flex-col sm:flex-row">
              <input
                class="ancho50_1"
                type="file"
                accept="image/*"
                id="file-input"
                capture="environment"
                (change)="previewRepackingImagen($event.target.files[0])"
              />
              <div class="ancho50_2" style="text-align: center">
                <img
                  *ngIf="previewRepackingStatus"
                  [src]="photoURL('repacking')"
                  alt="the Package Image"
                  width="200px"
                  height="200px"
                  style="text-align: center"
                />
                <img
                  *ngIf="defaults && !previewRepackingStatus"
                  [src]="imageRepackingPreviewSrc"
                  alt="the Package Image"
                  width="200px"
                  height="200px"
                  style="text-align: center"
                />
              </div>
            </div>
            <br />
            <span
              style="font-size: x-small; padding-left: 5px"
              class="text-secondary"
              >This photo will be sent to the client, make sure everything is
              ok</span
            >
            <br />
            <mat-checkbox
              class="checkbox"
              [formControl]="notificationRePackCtrl"
              checked="true"
              value="true"
            >
              Send a notification email to the customer about the repacking
              process?
            </mat-checkbox>
          </div>
          <div fxLayout="row" fxLayoutAlign="center center">
            <mat-progress-spinner
              diameter="40"
              mode="indeterminate"
              color="primary"
              *ngIf="spinnerRepack"
            ></mat-progress-spinner>
          </div>

          <div
            *ngIf="!spinnerRepack"
            class="actions"
            fxLayout="row"
            fxLayoutAlign="end center"
            fxLayoutGap="8px"
          >
            <button
              color="primary"
              type="button"
              (click)="submitRepacking()"
              mat-raised-button
            >
              REPACK
            </button>
          </div>
        </div>
        <div
          class="px-6 py-4 flex flex-col"
          *ngIf="customerSelected && !repackingCtrl.value"
        >
          <vex-address-card
            (addresses)="setAddressBook($event)"
            [address]="this.shippingAddress"
            [customer]="this.customer"
          ></vex-address-card>
        </div>
        <!--  DIV para shipping   -->
        <div
          class="flex flex-col sm:flex-row"
          style="padding-top: 20px"
          *ngIf="this.type === 'guide'"
        >
          <ng-container *ngIf="!this.defaults">
            <mat-form-field class="flex-auto s: ml-1">
              <mat-label>Select an outgoing Shipping</mat-label>
              <mat-icon [icIcon]="icMoreVert" class="mr-3" matPrefix></mat-icon>
              <mat-select
                [formControl]="shippingsCtrl"
                placeholder="Outgoing Shippings"
                #shippingsSelect
                (selectionChange)="setRate()"
                required
              >
                <mat-option>
                  <ngx-mat-select-search
                    placeholderLabel="Search"
                    noEntriesFoundLabel="'No Shipping Found'"
                    [formControl]="shippingsFilterCtrl"
                  >
                    <mat-icon
                      [icIcon]="icClose"
                      [inline]="true"
                      size="24px"
                      ngxMatSelectSearchClear
                    ></mat-icon>
                  </ngx-mat-select-search>
                </mat-option>

                <mat-option
                  *ngFor="let shipping of filteredShippings | async"
                  [value]="shipping._id"
                >
                  {{ shipping.type }} - {{ shipping.name }}
                </mat-option>
              </mat-select>
              <mat-hint
                >Select the shipment of all available in the system...</mat-hint
              >
            </mat-form-field>
          </ng-container>
          <ng-container *ngIf="this.defaults && this.defaults.shipping">
            <ng-container *ngIf="this.defaults.shipping.status >= '2'">
              <mat-form-field class="flex-auto">
                <mat-label>Outgoing Shipping</mat-label>
                <input type="text" [formControl]="shipCtrl" matInput />
                <mat-hint
                  >Selected shipment of all available in the system...</mat-hint
                >
              </mat-form-field>
            </ng-container>
            <ng-container *ngIf="this.defaults.shipping.status == '1'">
              <mat-form-field class="flex-auto s: ml-1">
                <mat-label>Select an outgoing Shipping</mat-label>
                <mat-icon
                  [icIcon]="icMoreVert"
                  class="mr-3"
                  matPrefix
                ></mat-icon>
                <mat-select
                  [formControl]="shippingsCtrl"
                  placeholder="Outgoing Shippings"
                  #shippingsSelect
                  (selectionChange)="setRate()"
                  required
                >
                  <mat-option>
                    <ngx-mat-select-search
                      placeholderLabel="Search"
                      noEntriesFoundLabel="'No Shipping Found'"
                      [formControl]="shippingsFilterCtrl"
                    >
                      <mat-icon
                        [icIcon]="icClose"
                        [inline]="true"
                        size="24px"
                        ngxMatSelectSearchClear
                      ></mat-icon>
                    </ngx-mat-select-search>
                  </mat-option>

                  <mat-option
                    *ngFor="let shipping of filteredShippings | async"
                    [value]="shipping._id"
                  >
                    {{ shipping.type }} - {{ shipping.name }}
                  </mat-option>
                </mat-select>
                <mat-hint
                  >Select the shipment of all available in the
                  system...</mat-hint
                >
              </mat-form-field>
            </ng-container>
          </ng-container>
        </div>
        <!--  DIV para totales   -->
        <div class="mt-4" fxLayout="column">
          <mat-form-field fxFlex="auto">
            <mat-label *ngIf="this.type === 'guide'">Guide Totals</mat-label>
            <mat-label *ngIf="this.type === 'quote'">Quote Totals</mat-label>
            <mat-icon class="mr-3" matPrefix
              ><span class="material-symbols-outlined"> weight </span></mat-icon
            >
            <span matSuffix>&nbsp;Weight / Vlb / Volume </span>
            <input type="text" [formControl]="totalsCtrl" matInput readonly />
            <mat-hint align="start"> </mat-hint>
          </mat-form-field>
        </div>
        <!--  DIV para costos para la creación de guias   -->
        <div class="mt-4" fxLayout="column" *ngIf="this.type === 'guide'">
          <mat-form-field fxFlex="auto">
            <mat-label>Guide Cost</mat-label>
            <mat-icon [icIcon]="icMoney" class="mr-3" matPrefix></mat-icon>
            <span matSuffix>&nbsp;$USD</span>
            <input type="text" [formControl]="costCtrl" matInput readonly />
            <mat-hint align="start"
              >Total cost for shipping all selected packages, rate:
              {{ this.guideRate ? this.guideRate.name : "-" }} => ${{
                this.guideRate ? this.guideRate.rate : "0.0"
              }}
              {{ this.minNote }}
            </mat-hint> </mat-form-field
          ><br />
          <mat-checkbox
            class="checkbox"
            [formControl]="rateChangeCtrl"
            (change)="setRates()"
            value="false"
          >
            Do you want to change the shipping rate??
          </mat-checkbox>
        </div>
        <!--  DIV para costo de cotizaciones   -->
        <div
          class="mt-4"
          fxLayout="column"
          *ngIf="this.type === 'quote' && !this.defaults"
        >
          <div class="flex flex-row justify-center">
            <div
              class="rounded-lg bg-primary flex flex-col items-center justify-center p-10 text-2xl"
            >
              <span class="pb-8">
                <mat-icon class="mr-3" matPrefix>
                  <span class="material-symbols-outlined">
                    directions_boat
                  </span>
                </mat-icon>
                <b>${{ seaCost.toFixed(2) }}</b>
              </span>
              <div class="rounded-lg flex flex-col sm:flex-row p-4 bg-white">
                <mat-form-field
                  class="flex-auto s: ml-1"
                  style="background-color: white"
                >
                  <mat-label>Select a new Sea Rate</mat-label>
                  <mat-icon
                    [icIcon]="icMoreVert"
                    class="mr-3"
                    matPrefix
                  ></mat-icon>
                  <mat-select
                    [formControl]="seaRatesCtrl"
                    placeholder="Outgoing Sea Shippings Rates"
                    #seaRatesSelect
                    (selectionChange)="quoteCostCalculate('SEA')"
                    [disabled]="!this.packageSelected"
                  >
                    <mat-option>
                      <ngx-mat-select-search
                        placeholderLabel="Search"
                        noEntriesFoundLabel="'No Rates Found'"
                        [formControl]="seaRatesFilterCtrl"
                      >
                        <mat-icon
                          [icIcon]="icClose"
                          [inline]="true"
                          size="24px"
                          ngxMatSelectSearchClear
                        ></mat-icon>
                      </ngx-mat-select-search>
                    </mat-option>

                    <mat-option
                      *ngFor="let rate of filteredSeaRates | async"
                      [value]="rate._id"
                    >
                      {{ rate.type }} - {{ rate.name }} - {{ rate.rate }}
                    </mat-option>
                  </mat-select>
                  <mat-hint
                    >Choose one if you want to select a new SeaRate</mat-hint
                  >
                </mat-form-field>
              </div>
              <span class="pt-2 text-xxs">
                <mat-checkbox
                  class="checkbox"
                  checked="true"
                  [formControl]="quoteSeaCtrl"
                  value="true"
                >
                  create a Sea Quote
                </mat-checkbox>
              </span>
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <div
              class="rounded-lg bg-primary flex flex-col items-center justify-center p-10 text-2xl"
            >
              <span class="pb-8">
                <mat-icon class="mr-3" matPrefix>
                  <span class="material-symbols-outlined"> flight </span>
                </mat-icon>
                <b>${{ airCost.toFixed(2) }}</b>
              </span>
              <div class="rounded-lg flex flex-col sm:flex-row p-4 bg-white">
                <mat-form-field class="flex-auto s: ml-1">
                  <mat-label>Select a new Air Rate</mat-label>
                  <mat-icon
                    [icIcon]="icMoreVert"
                    class="mr-3"
                    matPrefix
                  ></mat-icon>
                  <mat-select
                    [formControl]="airRatesCtrl"
                    placeholder="Outgoing Air Shippings Rates"
                    #airRatesSelect
                    (selectionChange)="quoteCostCalculate('AIR')"
                    [disabled]="!this.packageSelected"
                  >
                    <mat-option>
                      <ngx-mat-select-search
                        placeholderLabel="Search"
                        noEntriesFoundLabel="'No Rates Found'"
                        [formControl]="airRatesFilterCtrl"
                      >
                        <mat-icon
                          [icIcon]="icClose"
                          [inline]="true"
                          size="24px"
                          ngxMatSelectSearchClear
                        ></mat-icon>
                      </ngx-mat-select-search>
                    </mat-option>

                    <mat-option
                      *ngFor="let rate of filteredAirRates | async"
                      [value]="rate._id"
                    >
                      {{ rate.type }} - {{ rate.name }} - {{ rate.rate }}
                    </mat-option>
                  </mat-select>
                  <mat-hint
                    >Choose one if you want to select a new AirRate</mat-hint
                  >
                </mat-form-field>
              </div>
              <span class="pt-2 text-xxs">
                <mat-checkbox
                  class="checkbox"
                  checked="true"
                  [formControl]="quoteAirCtrl"
                  value="true"
                >
                  create a Air Quote
                </mat-checkbox>
              </span>
            </div>
          </div>
          <br />
          <div
            *ngIf="this.minVolume || this.minWeight"
            class="text-xs"
            [innerHTML]="minNote"
          ></div>
          <br />
        </div>

        <!--  DIV para los los Repacking   -->
        <div
          class="mt-4"
          fxLayout="column"
          *ngIf="this.type === 'quote' && this.defaults"
        >
          <div class="flex flex-row justify-center">
            <div
              class="rounded-lg bg-primary flex flex-col items-center justify-center p-10 text-2xl"
              *ngIf="editQuoteSea"
            >
              <span class="pb-8">
                <mat-icon class="mr-3" matPrefix>
                  <span class="material-symbols-outlined">
                    directions_boat
                  </span>
                </mat-icon>
                <b>${{ seaCost.toFixed(2) }}</b>
              </span>
              <div class="rounded-lg flex flex-col sm:flex-row p-4 bg-white">
                <mat-form-field
                  class="flex-auto s: ml-1"
                  style="background-color: white"
                >
                  <mat-label>Select a new Sea Rate</mat-label>
                  <mat-icon
                    [icIcon]="icMoreVert"
                    class="mr-3"
                    matPrefix
                  ></mat-icon>
                  <mat-select
                    [formControl]="seaRatesCtrl"
                    placeholder="Outgoing Sea Shippings Rates"
                    #seaRatesSelect
                    (selectionChange)="quoteCostCalculate('SEA')"
                    [disabled]="!this.packageSelected"
                  >
                    <mat-option>
                      <ngx-mat-select-search
                        placeholderLabel="Search"
                        noEntriesFoundLabel="'No Rates Found'"
                        [formControl]="seaRatesFilterCtrl"
                      >
                        <mat-icon
                          [icIcon]="icClose"
                          [inline]="true"
                          size="24px"
                          ngxMatSelectSearchClear
                        ></mat-icon>
                      </ngx-mat-select-search>
                    </mat-option>

                    <mat-option
                      *ngFor="let rate of filteredSeaRates | async"
                      [value]="rate._id"
                    >
                      {{ rate.type }} - {{ rate.name }} - {{ rate.rate }}
                    </mat-option>
                  </mat-select>
                  <mat-hint
                    >Choose one if you want to select a new SeaRate</mat-hint
                  >
                </mat-form-field>
              </div>
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <div
              class="rounded-lg bg-primary flex flex-col items-center justify-center p-10 text-2xl"
              *ngIf="editQuoteAir"
            >
              <span class="pb-8">
                <mat-icon class="mr-3" matPrefix>
                  <span class="material-symbols-outlined"> flight </span>
                </mat-icon>
                <b>${{ airCost.toFixed(2) }}</b>
              </span>
              <div class="rounded-lg flex flex-col sm:flex-row p-4 bg-white">
                <mat-form-field class="flex-auto s: ml-1">
                  <mat-label>Select a new Air Rate</mat-label>
                  <mat-icon
                    [icIcon]="icMoreVert"
                    class="mr-3"
                    matPrefix
                  ></mat-icon>
                  <mat-select
                    [formControl]="airRatesCtrl"
                    placeholder="Outgoing Air Shippings Rates"
                    #airRatesSelect
                    (selectionChange)="quoteCostCalculate('AIR')"
                    [disabled]="!this.packageSelected"
                  >
                    <mat-option>
                      <ngx-mat-select-search
                        placeholderLabel="Search"
                        noEntriesFoundLabel="'No Rates Found'"
                        [formControl]="airRatesFilterCtrl"
                      >
                        <mat-icon
                          [icIcon]="icClose"
                          [inline]="true"
                          size="24px"
                          ngxMatSelectSearchClear
                        ></mat-icon>
                      </ngx-mat-select-search>
                    </mat-option>

                    <mat-option
                      *ngFor="let rate of filteredAirRates | async"
                      [value]="rate._id"
                    >
                      {{ rate.type }} - {{ rate.name }} - {{ rate.rate }}
                    </mat-option>
                  </mat-select>
                  <mat-hint
                    >Choose one if you want to select a new AirRate</mat-hint
                  >
                </mat-form-field>
              </div>
            </div>
          </div>
          <br />
          <div
            *ngIf="this.minVolume || this.minWeight"
            class="text-xs"
            [innerHTML]="minNote"
          ></div>
          <br />
        </div>

        <!--  DIV para los los Repacking   -->
        <div
          class="flex flex-col sm:flex-row"
          style="padding-top: 10px"
          *ngIf="rateChangeCtrl.value === true"
        >
          <mat-form-field class="flex-auto s: ml-1">
            <mat-label>Select a new Rate</mat-label>
            <mat-icon [icIcon]="icMoreVert" class="mr-3" matPrefix></mat-icon>
            <mat-select
              [formControl]="ratesCtrl"
              placeholder="Outgoing Shippings Rates"
              #ratesSelect
              (selectionChange)="setNewRate()"
              required
            >
              <mat-option>
                <ngx-mat-select-search
                  placeholderLabel="Search"
                  noEntriesFoundLabel="'No Rates Found'"
                  [formControl]="ratesFilterCtrl"
                >
                  <mat-icon
                    [icIcon]="icClose"
                    [inline]="true"
                    size="24px"
                    ngxMatSelectSearchClear
                  ></mat-icon>
                </ngx-mat-select-search>
              </mat-option>

              <mat-option
                *ngFor="let rate of filteredRates | async"
                [value]="rate._id"
              >
                {{ rate.type }} - {{ rate.name }}
              </mat-option>
            </mat-select>
            <mat-hint>Select the new Rate?</mat-hint>
          </mat-form-field>
        </div>
        <mat-divider></mat-divider>
        <br />
        <div class="flex flex-col sm:flex-row">
          <mat-form-field class="flex-auto">
            <mat-label>Notes</mat-label>
            <textarea [formControl]="notesCtrl" matInput></textarea>
            <mat-hint
              >If you have something to say regarding the shipping of the
              package, feel free to expose all the details.</mat-hint
            >
          </mat-form-field>
        </div>

        <div class="flex flex-col sm:flex-row">
          <span
            style="font-size: small; padding-left: 5px"
            class="text-secondary"
            fxLayoutGap="5px"
            >Take a picture...</span
          >
        </div>
        <br />
        <div class="flex flex-col sm:flex-row">
          <input
            class="ancho50_1"
            type="file"
            accept="image/*"
            id="file-input"
            capture="environment"
            (change)="previewImagen($event.target.files[0])"
          />
          <div class="ancho50_2" style="text-align: center">
            <img
              *ngIf="previewStatus"
              [src]="photoURL('guide')"
              alt="the Package Image"
              width="200px"
              height="200px"
              style="text-align: center"
            />
            <img
              *ngIf="defaults && !previewStatus"
              [src]="url"
              alt="the Package Image"
              width="200px"
              height="200px"
              style="text-align: center"
            />
          </div>
        </div>
        <br />
        <span
          style="font-size: x-small; padding-left: 5px"
          class="text-secondary"
          >This photo will be sent to the client, make sure everything is
          ok</span
        >
        <br />
        <mat-checkbox
          class="checkbox"
          checked="true"
          [formControl]="notificationCtrl"
          value="false"
        >
          Send a notification email to the customer?
        </mat-checkbox>
        <br />
        <div
          class="actions"
          fxLayout="row"
          fxLayoutAlign="end center"
          fxLayoutGap="8px"
        >
          <button color="primary" mat-button type="button" (click)="reset()">
            RESET
          </button>
          <div fxLayout="row" fxLayoutAlign="center center">
            <mat-progress-spinner
              diameter="40"
              mode="indeterminate"
              color="primary"
              *ngIf="spinner"
            ></mat-progress-spinner>
          </div>

          <ng-container *ngIf="!this.defaults">
            <div *ngIf="!spinner">
              <button
                *ngIf="mode === 'create' && type === 'guide'"
                (click)="preSubmit()"
                [disabled]="false"
                color="primary"
                mat-raised-button
              >
                CREATE SHIPPING GUIDE
              </button>
              <button
                *ngIf="mode === 'create' && type === 'quote'"
                (click)="preSubmit()"
                [disabled]="false"
                color="primary"
                mat-raised-button
              >
                CREATE SHIPPING QUOTE
              </button>
            </div>
          </ng-container>
          <ng-container *ngIf="this.defaults">
            <ng-container *ngIf="this.type === 'guide'">
              <ng-container *ngIf="!spinner">
                <span>
                  <span
                    *ngIf="this.defaults.shipping.status >= '2'"
                    style="font-size: 7pt"
                  >
                    You can't update a guide that has already been shipped
                    <br />
                  </span>
                  <button
                    (click)="preSubmit()"
                    [disabled]="this.defaults.shipping.status >= '2'"
                    matTooltip="color"
                    color="primary"
                    mat-raised-button
                  >
                    UPDATE SHIPPING GUIDE
                  </button>
                </span>
              </ng-container>
            </ng-container>
            <ng-container *ngIf="this.type === 'quote'">
              <ng-container>
                <span>
                  <span
                    *ngIf="this.defaults.status === '0'"
                    style="font-size: 7pt"
                  >
                    This quote is not valid, read only view <br />
                  </span>
                  <button
                    [disabled]="this.defaults.status === '0'"
                    (click)="preSubmit()"
                    matTooltip="color"
                    color="primary"
                    mat-raised-button
                  >
                    UPDATE SHIPPING QUOTE
                  </button>
                </span>
              </ng-container>
            </ng-container>
          </ng-container>
        </div>
      </div>
    </div>
  </vex-page-layout-content>
</vex-page-layout>
