<div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>
  <h2 *ngIf="nameCtrl.value" class="headline m-0" fxFlex="auto">
    {{ typeCtrl.value }}-{{ nameCtrl.value }}
  </h2>
  <h2 *ngIf="!nameCtrl.value" class="headline m-0" fxFlex="auto">
    New Shipping Information Registry
  </h2>

  <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
    <mat-icon [icIcon]="icClose"></mat-icon>
  </button>
</div>

<mat-divider class="-mx-6 text-border"></mat-divider>

<mat-dialog-content fxLayout="column">
  <div class="flex flex-col sm:flex-row">
    <mat-form-field class="mt-6 flex-auto">
      <mat-label>Shipping Name</mat-label>
      <input cdkFocusInitial [formControl]="nameCtrl" matInput />
      <mat-icon [icIcon]="icPerson" class="mr-3" matPrefix></mat-icon>
    </mat-form-field>
  </div>

  <mat-form-field fxFlex="auto">
    <mat-label>Shipping Type</mat-label>
    <mat-select [formControl]="typeCtrl" matInput>
      <mat-option value="AIR">
        <span>AIR</span>
      </mat-option>
      <mat-option value="SEA">
        <span>SEA</span>
      </mat-option>
    </mat-select>
    <mat-icon [icIcon]="icPerson" class="mr-3" matPrefix></mat-icon>
    <mat-hint>Type of Shipping?</mat-hint>
  </mat-form-field>

  <mat-form-field class="flex-auto">
    <mat-label>Carrier</mat-label>
    <mat-icon [icIcon]="icMoreVert" class="mr-3" matPrefix></mat-icon>
    <mat-select
      [formControl]="carriersCtrl"
      placeholder="Outgoing Carriers"
      #carrierSelect
      matInput
      required
    >
      <mat-option>
        <ngx-mat-select-search
          placeholderLabel="Search"
          noEntriesFoundLabel="Not Carriers Founded"
          [formControl]="carriersFilterCtrl"
        >
          <mat-icon
            [icIcon]="icClose"
            [inline]="true"
            size="12px"
            ngxMatSelectSearchClear
          ></mat-icon>
        </ngx-mat-select-search>
      </mat-option>

      <mat-option
        *ngFor="let carrier of filteredCarrier | async"
        [value]="carrier._id"
      >
        {{ carrier.name }}
      </mat-option>
    </mat-select>
    <mat-hint>Outgoing Carrier?</mat-hint>
  </mat-form-field>

  <mat-form-field class="flex-auto">
    <mat-label>Departure Hub</mat-label>
    <mat-icon [icIcon]="icMoreVert" class="mr-3" matPrefix></mat-icon>
    <mat-select
      [formControl]="departureHubCtrl"
      placeholder="Departure Hub"
      #departureHubSelect
      matInput
      required
    >
      <mat-option>
        <ngx-mat-select-search
          placeholderLabel="Search"
          noEntriesFoundLabel="Not Warehouse location Founded"
          [formControl]="departureHubFilterCtrl"
        >
          <mat-icon
            [icIcon]="icClose"
            [inline]="true"
            size="12px"
            ngxMatSelectSearchClear
          ></mat-icon>
        </ngx-mat-select-search>
      </mat-option>

      <mat-option
        *ngFor="let departureHub of filteredDepartureHub | async"
        [value]="departureHub._id"
      >
        {{ departureHub.name }}
      </mat-option>
    </mat-select>
    <mat-hint>Departure Hub?</mat-hint>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Departure Date</mat-label>
    <input
      [matDatepicker]="datepickerRef2"
      [matDatepickerFilter]="myFilter"
      [formControl]="departureDateCtrl"
      (dateChange)="setDepartureDateonArrivalDateSelect()"
      matInput
    />
    <mat-datepicker-toggle
      [for]="datepickerRef2"
      matSuffix
    ></mat-datepicker-toggle>
    <mat-datepicker #datepickerRef2></mat-datepicker>
    <mat-hint>Click on the icon to the right for a Datepicker</mat-hint>
  </mat-form-field>

  <mat-form-field class="flex-auto">
    <mat-label>Arrival Hub</mat-label>
    <mat-icon [icIcon]="icMoreVert" class="mr-3" matPrefix></mat-icon>
    <mat-select
      [formControl]="arrivalHubCtrl"
      placeholder="Arrival Hub"
      #arrivalHubSelect
      matInput
      required
    >
      <mat-option>
        <ngx-mat-select-search
          placeholderLabel="Search"
          noEntriesFoundLabel="Not Warehouse location Founded"
          [formControl]="arrivalHubFilterCtrl"
        >
          <mat-icon
            [icIcon]="icClose"
            [inline]="true"
            size="12px"
            ngxMatSelectSearchClear
          ></mat-icon>
        </ngx-mat-select-search>
      </mat-option>

      <mat-option
        *ngFor="let arrivalHub of filteredArrivalHub | async"
        [value]="arrivalHub._id"
      >
        {{ arrivalHub.name }}
      </mat-option>
    </mat-select>
    <mat-hint>Arrival Hub?</mat-hint>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Arrival Date</mat-label>
    <input
      [matDatepicker]="datepickerRef"
      [matDatepickerFilter]="myFilter2"
      [formControl]="arrivalDateCtrl"
      matInput
    />
    <mat-datepicker-toggle
      [for]="datepickerRef"
      matSuffix
    ></mat-datepicker-toggle>
    <mat-datepicker #datepickerRef></mat-datepicker>
    <mat-hint>Click on the icon to the right for a Datepicker</mat-hint>
  </mat-form-field>

  <mat-form-field class="flex-auto">
    <mat-label>Notes</mat-label>
    <textarea [formControl]="notesCtrl" matInput></textarea>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close type="button">CANCEL</button>
  <div fxLayout="row" fxLayoutAlign="center center">
    <mat-progress-spinner
      diameter="40"
      mode="indeterminate"
      color="primary"
      *ngIf="spinner"
    ></mat-progress-spinner>
  </div>
  <div *ngIf="!spinner">
    <button
      *ngIf="isCreateMode()"
      color="primary"
      mat-button
      type="submit"
      (click)="save()"
    >
      CREATE SHIPPING
    </button>
    <button
      *ngIf="isUpdateMode()"
      color="primary"
      mat-button
      type="submit"
      (click)="save()"
    >
      UPDATE SHIPPING
    </button>
  </div>
</mat-dialog-actions>
