<div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>
  <h2 *ngIf="nameCtrl.value" class="headline m-0" fxFlex="auto">
    {{ nameCtrl.value }}
  </h2>
  <h2 *ngIf="!nameCtrl.value" class="headline m-0" fxFlex="auto">
    New Customer
  </h2>

  <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
    <mat-icon [icIcon]="icClose"></mat-icon>
  </button>
</div>
<mat-divider class="-mx-6 text-border"></mat-divider>
<mat-dialog-content fxLayout="column">
  <div class="flex flex-col sm:flex-row">
    <mat-form-field class="mt-6 flex-auto">
      <mat-label>First & Last Name</mat-label>
      <input cdkFocusInitial [formControl]="nameCtrl" matInput />
      <mat-icon [icIcon]="icPerson" class="mr-3" matPrefix></mat-icon>
      <mat-hint align="start"
        >Enter the First & Last Name of the customer</mat-hint
      >
    </mat-form-field>
  </div>
  <div class="flex flex-col sm:flex-row">
    <mat-form-field class="flex-auto">
      <mat-label>Mail</mat-label>
      <input [formControl]="emailCtrl" matInput />
      <mat-icon [icIcon]="icMail" class="mr-3" matPrefix></mat-icon>
      <mat-hint align="start">Enter the eMail of the customer</mat-hint>
    </mat-form-field>
  </div>
  <div class="flex flex-col sm:flex-row">
    <mat-form-field class="flex-auto">
      <mat-label>Phone Number</mat-label>
      <input [formControl]="phoneNumberCtrl" matInput />
      <mat-icon [icIcon]="icPhone" class="mr-3" matPrefix></mat-icon>
      <mat-hint align="start">Enter the phone Number of the customer</mat-hint>
    </mat-form-field>
  </div>
  <div class="flex flex-col sm:flex-row">
    <mat-form-field class="flex-auto">
      <mat-label>Notes</mat-label>
      <textarea [formControl]="notesCtrl" matInput></textarea>
      <mat-hint align="start">Enter some notes about the customer</mat-hint>
    </mat-form-field>
  </div>
  &nbsp;
  <div class="flex flex-col sm:flex-row">
    <mat-checkbox class="caption" [formControl]="isShipperCtrl" matInput
      >Register the customer as a shipper too?</mat-checkbox
    >
  </div>
  &nbsp;
  <mat-divider class="-mx-6 text-border"></mat-divider>
  &nbsp;
  <div fxLayout="row" fxLayoutAlign="start center">
    <h3 fxFlex="auto">Address Information</h3>
  </div>
  <div class="flex flex-col sm:flex-row">
    <mat-form-field class="mt-6 flex-auto">
      <mat-icon [icIcon]="icMoreVert" class="mr-3" matPrefix></mat-icon>
      <mat-select
        [formControl]="countryCtrl"
        placeholder="Country"
        #countrySelect
        (selectionChange)="findStates()"
        [(ngModel)]="this.selectedCountry"
        required
      >
        <mat-option>
          <ngx-mat-select-search
            placeholderLabel="Search"
            noEntriesFoundLabel="'Not Country Found'"
            [formControl]="countryFilterCtrl"
          >
            <mat-icon
              [icIcon]="icClose"
              [inline]="true"
              size="24px"
              ngxMatSelectSearchClear
            ></mat-icon>
          </ngx-mat-select-search>
        </mat-option>

        <mat-option
          *ngFor="let country of filteredCountries | async"
          [value]="country"
        >
          {{ country.name }}
        </mat-option>
      </mat-select>
      <mat-hint align="start"
        >Enter the country for the customer address</mat-hint
      >
    </mat-form-field>
  </div>
  <div class="flex flex-col sm:flex-row">
    <mat-form-field class="mt-6 flex-auto">
      <mat-icon [icIcon]="icMoreVert" class="mr-3" matPrefix></mat-icon>
      <mat-select
        [formControl]="stateCtrl"
        placeholder="State"
        #stateSelect
        (selectionChange)="findCities()"
        [(ngModel)]="this.selectedState"
        required
      >
        <mat-option>
          <ngx-mat-select-search
            placeholderLabel="Search"
            noEntriesFoundLabel="'No state found'"
            [formControl]="stateFilterCtrl"
          >
            <mat-icon
              [icIcon]="icClose"
              [inline]="true"
              size="24px"
              ngxMatSelectSearchClear
            ></mat-icon>
          </ngx-mat-select-search>
        </mat-option>

        <mat-option
          *ngFor="let state of filteredStates | async"
          [value]="state"
        >
          {{ state.name }}
        </mat-option>
      </mat-select>
      <mat-hint align="start"
        >Enter the state for the customer address</mat-hint
      >
    </mat-form-field>
  </div>
  <div class="flex flex-col sm:flex-row">
    <mat-form-field class="mt-6 flex-auto">
      <mat-label>City</mat-label>
      <mat-icon [icIcon]="icMoreVert" class="mr-3" matPrefix></mat-icon>
      <mat-select
        [formControl]="cityCtrl"
        placeholder="City"
        #citySelect
        [(ngModel)]="this.selectedCity"
        required
      >
        <mat-option>
          <ngx-mat-select-search
            placeholderLabel="Search"
            noEntriesFoundLabel="'No city found'"
            [formControl]="cityFilterCtrl"
          >
            <mat-icon
              [icIcon]="icClose"
              [inline]="true"
              size="24px"
              ngxMatSelectSearchClear
            ></mat-icon>
          </ngx-mat-select-search>
        </mat-option>

        <mat-option *ngFor="let city of filteredCities | async" [value]="city">
          {{ city.name }}
        </mat-option>
      </mat-select>
      <mat-hint align="start">Enter the city for the customer address</mat-hint>
    </mat-form-field>
  </div>
  <div class="flex flex-col sm:flex-row">
    <mat-form-field class="mt-6 flex-auto">
      <mat-label>Address Line</mat-label>
      <input [formControl]="addressCtrl" matInput />
      <mat-icon [icIcon]="icMyLocation" class="mr-3" matPrefix></mat-icon>
      <mat-hint align="start"
        >Enter the full address line of the customer</mat-hint
      >
    </mat-form-field>
  </div>
  <div class="flex flex-col sm:flex-row">
    <mat-form-field class="flex-auto">
      <mat-label>Address Complement</mat-label>
      <input [formControl]="address2Ctrl" matInput />
      <mat-icon [icIcon]="icEditLocation" class="mr-3" matPrefix></mat-icon>
      <mat-hint align="start">Some references...</mat-hint>
    </mat-form-field>
    <mat-form-field class="flex-auto" style="padding-left: 20px">
      <mat-label>Zip Code</mat-label>
      <input [formControl]="zipcodeCtrl" matInput />
      <mat-icon [icIcon]="icEditLocation" class="mr-3" matPrefix></mat-icon>
      <mat-hint align="start">Set a valid Zip Code</mat-hint>
    </mat-form-field>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close type="button">CANCEL</button>
  <div fxLayout="row" fxLayoutAlign="center center">
    <mat-progress-spinner
      diameter="40"
      mode="indeterminate"
      color="primary"
      *ngIf="spinner"
    ></mat-progress-spinner>
  </div>
  <div *ngIf="!spinner">
    <button
      *ngIf="isCreateMode()"
      color="primary"
      mat-button
      type="submit"
      (click)="send()"
    >
      CREATE CUSTOMER
    </button>
    <button
      *ngIf="isUpdateMode()"
      color="primary"
      mat-button
      type="submit"
      (click)="send()"
    >
      UPDATE CUSTOMER
    </button>
  </div>
</mat-dialog-actions>

<mat-menu #settingsMenu="matMenu" xPosition="before" yPosition="below">
  <button mat-menu-item>
    <mat-icon [icIcon]="icPrint"></mat-icon>
    <span>Print</span>
  </button>

  <button mat-menu-item>
    <mat-icon [icIcon]="icDownload"></mat-icon>
    <span>Export</span>
  </button>

  <button mat-menu-item>
    <mat-icon [icIcon]="icDelete"></mat-icon>
    <span>Delete</span>
  </button>
</mat-menu>
