<div @fadeInUp class="card overflow-hidden p-8">
  <div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>
    <h2 class="headline m-0" fxFlex="auto">Warehouse Receipt</h2>
    <button
      class="text-secondary"
      mat-dialog-close
      mat-icon-button
      type="button"
    >
      <mat-icon [icIcon]="icClose"></mat-icon>
    </button>
  </div>
  <br />
  <h2 class="title">Shipper & Customer Information</h2>
  <div class="subheading-1">
    Enter all the information about the Package shipper.
  </div>
  <br />
  <div class="flex flex-col sm:flex-row">
    <mat-form-field class="flex-auto s: ml-1 ancho1">
      <mat-label>Select a Shipper</mat-label>
      <mat-icon [icIcon]="icMoreVert" class="mr-3" matPrefix></mat-icon>
      <mat-select
        [formControl]="shippersCtrl"
        placeholder="Shippers"
        #shippersSelect
        required
      >
        <mat-option>
          <ngx-mat-select-search
            placeholderLabel="Search"
            noEntriesFoundLabel="'Not Shipper Found'"
            [formControl]="shippersFilterCtrl"
          >
            <mat-icon
              [icIcon]="icClose"
              [inline]="true"
              size="24px"
              ngxMatSelectSearchClear
            ></mat-icon>
          </ngx-mat-select-search>
        </mat-option>

        <mat-option
          *ngFor="let shipper of filteredShippers | async"
          [value]="shipper._id"
        >
          {{ shipper.name }}
        </mat-option>
      </mat-select>
      <mat-hint>Who is sending the package?</mat-hint>
    </mat-form-field>
    <span class="flex-auto xs: ml-1 ancho2">
      <button
        (click)="createShipper()"
        [disabled]="false"
        color="primary"
        mat-button
        type="button"
      >
        NEW ONE
      </button>
    </span>
  </div>
  <div class="flex flex-col sm:flex-row" *ngIf="defaults">
    <mat-form-field class="flex-auto xs: ml-1 width:60px">
      <mat-label>Customer</mat-label>
      <input
        type="text"
        [formControl]="customerCtrl"
        [readonly]="true"
        matInput
      />
      <mat-hint>Who is receiving the package?</mat-hint>
    </mat-form-field>
  </div>
  <div class="flex flex-col sm:flex-row" *ngIf="!defaults">
    <mat-form-field class="flex-auto s: ml-1 ancho1">
      <mat-label>Select a Customer Recipient</mat-label>
      <mat-icon [icIcon]="icMoreVert" class="mr-3" matPrefix></mat-icon>
      <mat-select
        [formControl]="customersCtrl"
        placeholder="Customer"
        #customersSelect
        required
      >
        <mat-option>
          <ngx-mat-select-search
            placeholderLabel="Search a customer, enter at least 4 characters"
            (ngModelChange)="filterCustomer()"
            noEntriesFoundLabel="'No Customer Found'"
            [formControl]="customersFilterCtrl"
          >
            <mat-icon
              [icIcon]="icClose"
              [inline]="true"
              size="24px"
              ngxMatSelectSearchClear
            ></mat-icon>
          </ngx-mat-select-search>
        </mat-option>

        <mat-option
          *ngFor="let customer of filteredCustomers | async"
          [value]="customer._id"
        >
          {{ customer.name }} - {{ customer.tlCargoName }}
        </mat-option>
      </mat-select>
      <mat-hint>Who is receiving the package?</mat-hint>
    </mat-form-field>
    <span class="flex-auto xs: ml-1 ancho2">
      <button
        (click)="createCustomer()"
        [disabled]="false"
        color="primary"
        mat-button
        type="button"
      >
        NEW ONE
      </button>
    </span>
  </div>
  <br />
  <mat-divider></mat-divider>
  <h2 class="title m-0">Package Information</h2>
  <div class="subheading-1">
    Enter all the relevant information regarding the package you receive
  </div>

  <div class="mt-4" fxLayout="column" fxLayoutGap="8px">
    <mat-form-field fxFlex="auto">
      <mat-label>Important Tracking ID...</mat-label>
      <input type="text" [formControl]="trackingIdCtrl" matInput />
      <mat-hint
        >This Tracking ID will be sent to the client, for tracking make sure
        everything is ok</mat-hint
      >
    </mat-form-field>
  </div>
  <ng-container *ngIf="this.defaults">
    <div class="flex flex-col sm:flex-row" *ngIf="this.defaults.type === 2">
      <mat-form-field class="flex-auto s: ml-1 ancho1">
        <mat-label>Select a Carrier</mat-label>
        <mat-icon class="mr-3" matPrefix
          ><span class="material-symbols-outlined">
            local_shipping
          </span></mat-icon
        >
        <input
          type="text"
          [formControl]="carrierRepackCtrl"
          [readonly]="true"
          matInput
        />
        <mat-hint
          >The repacked packages have a carrier by default, It cannot be
          modified.</mat-hint
        >
      </mat-form-field>
    </div>
    <div class="flex flex-col sm:flex-row" *ngIf="this.defaults.type !== 2">
      <mat-form-field class="flex-auto s: ml-1 ancho1">
        <mat-label>Select a Carrier</mat-label>
        <mat-icon [icIcon]="icMoreVert" class="mr-3" matPrefix></mat-icon>
        <mat-select
          [formControl]="carriersCtrl"
          placeholder="Carriers"
          #carriersSelect
          required
        >
          <mat-option>
            <ngx-mat-select-search
              placeholderLabel="Search"
              noEntriesFoundLabel="'Not Carrier Found'"
              [formControl]="carriersFilterCtrl"
            >
              <mat-icon
                [icIcon]="icClose"
                [inline]="true"
                size="24px"
                ngxMatSelectSearchClear
              ></mat-icon>
            </ngx-mat-select-search>
          </mat-option>
          <mat-option
            *ngFor="let carrier of filteredCarriers | async"
            [value]="carrier._id"
          >
            {{ carrier.name }}
          </mat-option>
        </mat-select>
        <mat-hint>Which carrier company delivered the package?</mat-hint>
      </mat-form-field>
      <span class="flex-auto xs: ml-1 ancho2">
        <button
          (click)="createCarrier()"
          [disabled]="false"
          color="primary"
          mat-button
          type="button"
        >
          NEW ONE
        </button>
      </span>
    </div>
  </ng-container>
  <ng-container *ngIf="!this.defaults">
    <div class="flex flex-col sm:flex-row">
      <mat-form-field class="flex-auto s: ml-1 ancho1">
        <mat-label>Select a Carrier</mat-label>
        <mat-icon [icIcon]="icMoreVert" class="mr-3" matPrefix></mat-icon>
        <mat-select
          [formControl]="carriersCtrl"
          placeholder="Carriers"
          #carriersSelect
          required
        >
          <mat-option>
            <ngx-mat-select-search
              placeholderLabel="Search"
              noEntriesFoundLabel="'Not Carrier Found'"
              [formControl]="carriersFilterCtrl"
            >
              <mat-icon
                [icIcon]="icClose"
                [inline]="true"
                size="24px"
                ngxMatSelectSearchClear
              ></mat-icon>
            </ngx-mat-select-search>
          </mat-option>
          <mat-option
            *ngFor="let carrier of filteredCarriers | async"
            [value]="carrier._id"
          >
            {{ carrier.name }}
          </mat-option>
        </mat-select>
        <mat-hint>Which carrier company delivered the package?</mat-hint>
      </mat-form-field>
      <span class="flex-auto xs: ml-1 ancho2">
        <button
          (click)="createCarrier()"
          [disabled]="false"
          color="primary"
          mat-button
          type="button"
        >
          NEW ONE
        </button>
      </span>
    </div>
  </ng-container>
  <br />
  <div
    class="flex flex-col sm:flex-row"
    *ngIf="packageSlideToggle.value === false"
  >
    <div class="flex flex-row w-full" [formGroup]="packageFormGroup">
      <mat-form-field class="flex-auto w-40 pr-2">
        <mat-label>Height</mat-label>
        <input
          formControlName="height"
          (keypress)="keyPressNumbersWithDecimal($event, 'height')"
          (focusout)="calculaVolume_HxWxL()"
          matInput
        />
        <mat-icon [icIcon]="icRule" class="mr-3" matPrefix></mat-icon>
        <mat-hint align="start">Measurements in inches</mat-hint>
      </mat-form-field>
      <mat-form-field class="flex-auto w-40 pr-2">
        <mat-label>Width</mat-label>
        <input
          formControlName="width"
          (keypress)="keyPressNumbersWithDecimal($event, 'width')"
          (focusout)="calculaVolume_HxWxL()"
          matInput
        />
        <mat-icon [icIcon]="icRule" class="mr-3" matPrefix></mat-icon>
      </mat-form-field>
      <mat-form-field class="flex-auto w-40 pr-2">
        <mat-label>Length</mat-label>
        <input
          formControlName="length"
          (keypress)="keyPressNumbersWithDecimal($event, 'length')"
          (focusout)="calculaVolume_HxWxL()"
          matInput
        />
        <mat-icon [icIcon]="icRule" class="mr-1" matPrefix></mat-icon>
      </mat-form-field>
      <mat-form-field class="flex-auto w-48">
        <mat-label>Type</mat-label>
        <mat-select formControlName="type" matInput>
          <mat-option value="">Select package type</mat-option>
          <mat-option value="BAG">BAG</mat-option>
          <mat-option value="BOX">BOX</mat-option>
          <mat-option value="CRATE">CRATE</mat-option>
          <mat-option value="PALLET">PALLET</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div
    class="flex flex-col sm:flex-row"
    *ngIf="packageSlideToggle.value == true"
  >
    <mat-form-field class="flex-auto s: ml-1 ancho1">
      <mat-label>Package Type</mat-label>
      <mat-icon [icIcon]="icMoreVert" class="mr-3" matPrefix></mat-icon>
      <mat-select
        [formControl]="packageTypesCtrl"
        placeholder="Package Type"
        (selectionChange)="calculaVolume()"
        #packageTypesSelect
        matInput
        required
      >
        <mat-option>
          <ngx-mat-select-search
            placeholderLabel="Search"
            noEntriesFoundLabel="Not Package Type Found"
            [formControl]="packageTypesFilterCtrl"
          >
            <mat-icon
              [icIcon]="icClose"
              [inline]="true"
              size="24px"
              ngxMatSelectSearchClear
            ></mat-icon>
          </ngx-mat-select-search>
        </mat-option>

        <mat-option
          *ngFor="let packageType of filteredPackageTypes | async"
          [value]="packageType._id"
        >
          {{ packageType.name }} - Measures (inches) H:{{
            packageType.height
          }}
          x W:{{ packageType.width }} x L:{{ packageType.length }}
        </mat-option>
      </mat-select>
      <mat-hint>Type of package?</mat-hint>
    </mat-form-field>
    <span class="flex-auto xs: ml-1 ancho2">
      <button
        (click)="createPackageType()"
        [disabled]="false"
        color="primary"
        mat-button
        type="button"
      >
        NEW ONE
      </button>
    </span>
  </div>
  <div class="flex flex-col sm:flex-row">
    <mat-slide-toggle
      color="primary"
      [formControl]="packageSlideToggle"
      (change)="onChangePck($event)"
    >
      Or do you want to select one of the system's registered package types
      instead?
    </mat-slide-toggle>
  </div>
  <br />
  <div class="mt-4" fxLayout="column" fxLayoutGap="8px">
    <!-- sección de peso y volumen-->
    <div fxLayout="row">
      <mat-form-field class="flex-auto xs: ml-1 width:60px">
        <mat-label>Package Weight</mat-label>
        <input
          type="text"
          [formControl]="weightCtrl"
          matInput
          (keypress)="keyPressNumbersWithDecimalFC($event, this.weightCtrl)"
        />
        <mat-hint>Weight (pounds lb)</mat-hint>
      </mat-form-field>
      <mat-form-field class="flex-auto xs: ml-1 width:40px">
        <mat-label>Package Volume</mat-label>
        <input
          type="text"
          [formControl]="volumeCtrl"
          matInput
          [readonly]="true"
        />
        <mat-hint>Volume (ft<sup>3</sup>)</mat-hint>
      </mat-form-field>
      <mat-form-field class="flex-auto xs: ml-1 width:40px">
        <mat-label>Package Volumetric Weight</mat-label>
        <input type="text" [formControl]="vlbCtrl" matInput [readonly]="true" />
        <mat-hint>Volumetric Weight (vlb)</mat-hint>
      </mat-form-field>
    </div>

    <div class="mt-4" fxLayout="column" fxLayoutGap="8px">
      <mat-form-field fxFlex="auto">
        <mat-label>Description</mat-label>
        <input
          type="text"
          [formControl]="shortDescCtrl"
          #shortDesclengthHint
          maxlength="100"
          matInput
        />
        <mat-hint align="start"
          >What's in the package?, Try to type no more than 100
          letters</mat-hint
        >
        <mat-hint align="end"
          >{{ shortDesclengthHint.value.length }}/100</mat-hint
        >
      </mat-form-field>
    </div>

    <div
      class="mt-4"
      fxLayout="row"
      fxLayoutGap="8px"
      *ngIf="this.rePackages.length > 0"
    >
      <ng-container *ngFor="let item of this.rePackages">
        <button
          (click)="openReceipt(item)"
          [disabled]="false"
          color="primary"
          mat-raised-button
          type="button"
        >
          {{ item.tlCargoId }}
        </button>
      </ng-container>
    </div>

    <div class="mt-4" fxLayout="column" fxLayoutGap="8px">
      <ngx-file-drop
        dropZoneLabel="Drop invoice here"
        (onFileDrop)="dropped($event)"
        (onFileOver)="fileOver($event)"
        (onFileLeave)="fileLeave($event)"
      >
        <ng-template
          ngx-file-drop-content-tmp
          let-openFileSelector="openFileSelector"
        >
          Drop your invoice here to attach it to the package.
          <button
            type="button"
            (click)="openFileSelector()"
            color="primary"
            mat-button
          >
            Browse File Instead
          </button>
        </ng-template>
      </ngx-file-drop>
    </div>
    <div class="flex flex-col sm:flex-row">
      <div class="upload-table">
        <table class="w-full">
          <tbody>
            <tr *ngFor="let item of files; let i = index">
              <td>Invoice File name:</td>
              <td>
                <strong>{{ item.relativePath }}</strong>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div
      class="flex flex-col sm:flex-row"
      *ngIf="this.defaults && this.defaults.invoiceUrl !== ''"
    >
      <div>
        <a
          type="button"
          href="{{ this.invoiceUrl }}"
          target="_blank"
          mat-icon-button
        >
          <mat-icon>
            <span class="material-symbols-outlined"> download </span>
          </mat-icon>
          Download Invoice: <strong>{{ this.defaults.invoiceUrl }}</strong>
        </a>
      </div>
    </div>
  </div>
  <br />
  <mat-divider></mat-divider>
  <br />
  <div
    class="flex flex-col sm:flex-row"
    fxLayoutAlign="end center"
    *ngIf="this.mode === 'create'"
  >
    <button
      (click)="onSubmitAddPackage()"
      [disabled]="false"
      color="primary"
      type="button"
      mat-raised-button
    >
      ADD PACKAGE
    </button>
  </div>
  <br />
  <div
    class="flex flex-col sm:flex-row"
    style="overflow-y: scroll"
    *ngIf="multiplePackages"
  >
    <vex-temp-package-registry
      [customerPackageArray]="this.customerPackages"
    ></vex-temp-package-registry>
  </div>
  <br />
  <mat-divider></mat-divider>
  <div *ngIf="!this.defaults" class="title m-0">You're almost there!</div>
  <div *ngIf="!this.defaults" class="subheading-1">
    To finish registration, enter the help information for the warehousing
    process.
  </div>
  <div *ngIf="this.defaults" class="title m-0">You're done!</div>
  <div *ngIf="this.defaults" class="subheading-1">
    Help information for the warehousing process.
  </div>

  <br />
  <div class="mt-4" fxLayout="column" fxLayoutGap="8px">
    <mat-form-field class="flex-auto">
      <mat-label>Notes</mat-label>
      <textarea [formControl]="shipperNoteCtrl" matInput></textarea>
      <mat-hint
        >If you have something to say regarding the reception of the package,
        feel free to expose all the details.</mat-hint
      >
    </mat-form-field>
  </div>
  <div class="mt-4" fxLayout="column" fxLayoutGap="8px">
    <mat-form-field class="flex-auto">
      <mat-label>Warehouse Location</mat-label>
      <input type="text" [formControl]="physicalLocationCtrl" matInput />
      <mat-hint
        >Enter the reference regarding the location of the package in the
        warehouse.</mat-hint
      >
    </mat-form-field>
    <div class="flex flex-col sm:flex-row">
      <span
        style="font-size: small; padding-left: 5px"
        class="text-secondary"
        fxLayoutGap="5px"
        >Take a picture...</span
      >
    </div>
    <br />
    <div class="flex flex-col sm:flex-row">
      <input
        class="ancho50_1"
        type="file"
        accept="image/*"
        id="file-input"
        capture="environment"
        (change)="previewImagen($event.target.files[0])"
      />
      <div class="ancho50_2" style="text-align: center">
        <img
          *ngIf="previewStatus"
          [src]="photoURL()"
          alt="the Package Image"
          width="200px"
          height="200px"
          style="text-align: center"
        />
        <img
          *ngIf="defaults && !previewStatus"
          [src]="url"
          alt="the Package Image"
          width="200px"
          height="200px"
          style="text-align: center"
        />
      </div>
    </div>
    <br />
    <span style="font-size: x-small; padding-left: 5px" class="text-secondary"
      >This photo will be sent to the client, make sure everything is ok</span
    >
    <br />
    <mat-checkbox
      class="checkbox"
      [formControl]="notificationCtrl"
      checked="true"
      value="true"
    >
      Send a notification email to the customer?
    </mat-checkbox>
  </div>
  <div
    class="actions"
    fxLayout="row"
    fxLayoutAlign="end center"
    fxLayoutGap="8px"
  >
    <button color="primary" mat-button type="button" (click)="reset()">
      RESET
    </button>
    <div fxLayout="row" fxLayoutAlign="center center">
      <mat-progress-spinner
        diameter="40"
        mode="indeterminate"
        color="primary"
        *ngIf="spinner"
      ></mat-progress-spinner>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" *ngIf="!spinner">
      <button
        *ngIf="mode === 'create'"
        (click)="submit()"
        [disabled]="false"
        color="primary"
        mat-raised-button
      >
        RECEIVE PACKAGE
      </button>
      <button
        *ngIf="mode === 'update'"
        (click)="submit()"
        [disabled]="+this.defaults.status === 2 || +this.defaults.status >= 4"
        color="primary"
        mat-raised-button
      >
        UPDATE PACKAGE
      </button>
    </div>
  </div>
</div>
