<vex-page-layout>
  <vex-page-layout-header
    class="pb-16"
    fxLayout="column"
    fxLayoutAlign="center start"
  >
    <div
      [class.container]="layoutCtrl.value === 'boxed'"
      [class.px-gutter]="layoutCtrl.value === 'fullwidth'"
      class="w-full flex flex-col sm:flex-row justify-between"
    >
      <div *ngIf="guide.customer">
        <h1 class="title mt-0 mb-1">Guide Id: {{ guide.tlCargoId || "" }}</h1>
        <h2 class="title mt-0 mb-1">
          Customer: {{ guide.customer.name || "" }}
        </h2>
        <h2 class="title mt-0 mb-1" *ngIf="guide.type === '3'">
          Repack Package type: {{ guide.packageType.name || "" }}
        </h2>
      </div>
    </div>
  </vex-page-layout-header>

  <vex-page-layout-content
    [class.container]="layoutCtrl.value === 'boxed'"
    [class.px-gutter]="layoutCtrl.value === 'fullwidth'"
    class="-mt-6"
  >
    <div class="card overflow-auto -mt-16">
      <ngx-spinner
        name="pckListSpinner"
        bdColor="rgba(0, 0, 0, 0.8)"
        size="small"
        color="#fff"
        type="ball-climbing-dot"
        [fullScreen]="false"
        template="<img src='../../../../../assets/img/tlcargo/tl_cargo_3.png' width='50px' height='50px'>"
        ><p style="color: white">Loading...</p></ngx-spinner
      >

      <div
        class="bg-app-bar px-6 h-16 border-b sticky left-0"
        fxLayout="row"
        fxLayoutAlign="start center"
      >
        <h2
          class="title my-0 ltr:pr-4 rtl:pl-4 ltr:mr-4 rtl:ml-4 ltr:border-r rtl:border-l"
          fxFlex="none"
          fxHide.xs
        >
          <span>Package List</span>
        </h2>

        <div
          class="bg-card rounded-full border px-4"
          fxFlex="400px"
          fxFlex.lt-md="auto"
          fxHide.xs
          fxLayout="row"
          fxLayoutAlign="start center"
        >
          <ic-icon [icIcon]="icSearch" size="20px"></ic-icon>
          <input
            [formControl]="searchCtrl"
            class="px-4 py-3 border-0 outline-none w-full bg-transparent"
            placeholder="Search..."
            type="search"
          />
        </div>

        <span fxFlex></span>

        <button
          class="ml-4"
          fxFlex="none"
          fxHide.gt-xs
          mat-icon-button
          type="button"
        >
          <mat-icon [icIcon]="icSearch"></mat-icon>
        </button>

        <button
          [matMenuTriggerFor]="columnFilterMenu"
          class="ml-4"
          fxFlex="none"
          mat-icon-button
          matTooltip="Filter Columns"
          type="button"
        >
          <mat-icon [icIcon]="icFilterList"></mat-icon>
        </button>
      </div>

      <table
        @stagger
        [dataSource]="dataSource"
        class="w-full"
        mat-table
        matSort
      >
        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- Checkbox Column -->
        <ng-container matColumnDef="checkbox">
          <th *matHeaderCellDef mat-header-cell>
            <mat-checkbox
              (change)="$event ? masterToggle() : null"
              [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()"
              color="primary"
            >
            </mat-checkbox>
          </th>
          <td *matCellDef="let row" class="w-4" mat-cell>
            <mat-checkbox
              (change)="$event ? selection.toggle(row) : null"
              (click)="$event.stopPropagation()"
              [checked]="selection.isSelected(row)"
              color="primary"
            >
            </mat-checkbox>
          </td>
        </ng-container>

        <!-- Text Columns -->
        <ng-container *ngFor="let column of columns; trackBy: trackByProperty">
          <ng-container
            *ngIf="column.type === 'text'"
            [matColumnDef]="column.property"
          >
            <th
              *matHeaderCellDef
              class="uppercase"
              mat-header-cell
              mat-sort-header
            >
              {{ column.label }}
            </th>
            <td *matCellDef="let row" [ngClass]="column.cssClasses" mat-cell>
              <div
                *ngIf="
                  column.property !== 'user' &&
                  column.property !== 'shortDesc' &&
                  column.property !== 'weight' &&
                  column.property !== 'volume' &&
                  column.property !== 'package' &&
                  column.property !== 'receptionDate' &&
                  column.property !== '_id'
                "
              >
                {{ row[column.property] }}
              </div>
              <div
                *ngIf="column.property === 'shortDesc'"
                matTooltip="{{ row[column.property] }}"
              >
                {{
                  row[column.property].length > 10
                    ? row[column.property].substr(0, 10) + "..."
                    : row[column.property]
                }}
              </div>
              <div *ngIf="column.property === 'package'">
                {{ row[column.property].name }}
              </div>
              <div *ngIf="column.property === 'user'">
                {{ row[column.property].name }}
              </div>
              <div
                *ngIf="column.property === '_id'"
                matTooltip="{{ row[column.property] }}"
              >
                <span *ngIf="row['type'] === 2">
                  {{ row[column.property] | tlCargoId : "RP" }}
                </span>
                <span *ngIf="row['type'] === 1">
                  {{ row[column.property] | tlCargoId : "TL" }}
                </span>
              </div>
              <div *ngIf="column.property === 'volume'">
                {{ row[column.property] }} ft<sup>3</sup>
              </div>
              <div *ngIf="column.property === 'weight'">
                {{ row[column.property] }} lb
              </div>
              <div *ngIf="column.property === 'receptionDate'">
                {{ row[column.property].split("T")[0] }}
              </div>
            </td>
          </ng-container>
        </ng-container>

        <!-- Tag Columns -->
        <ng-container *ngFor="let column of columns; trackBy: trackByProperty">
          <ng-container
            *ngIf="column.type === 'tag'"
            [matColumnDef]="column.property"
          >
            <th
              *matHeaderCellDef
              class="uppercase"
              mat-header-cell
              mat-sort-header
            >
              {{ column.label }}
            </th>
            <td *matCellDef="let row" mat-cell>
              <div *ngIf="row[column.property] === '1'">
                <span
                  class="rounded px-2 py-1 font-medium text-xs bg-green-light text-green"
                  fxFlex="none"
                  fxLayout="row"
                  fxLayoutAlign="start center"
                  fxLayoutGap="4px"
                >
                  In Warehouse
                </span>
              </div>
              <div *ngIf="row[column.property] === '2'">
                <span
                  class="rounded px-2 py-1 font-medium text-xs bg-teal text-white"
                  fxFlex="none"
                  fxLayout="row"
                  fxLayoutAlign="start center"
                  fxLayoutGap="4px"
                >
                  Repacking
                </span>
              </div>
              <div *ngIf="row[column.property] === '3'">
                <span
                  class="rounded px-2 py-1 font-medium text-xs bg-cyan text-white"
                  fxFlex="none"
                  fxLayout="row"
                  fxLayoutAlign="start center"
                  fxLayoutGap="4px"
                >
                  On Boarding
                </span>
              </div>
              <div *ngIf="row[column.property] === '4'">
                <span
                  class="rounded px-2 py-1 font-medium text-xs bg-blue-light text-blue"
                  fxFlex="none"
                  fxLayout="row"
                  fxLayoutAlign="start center"
                  fxLayoutGap="4px"
                >
                  In Transit
                </span>
              </div>
              <div *ngIf="row[column.property] === '5'">
                <span
                  class="rounded px-2 py-1 font-medium text-xs bg-blue-light text-blue"
                  fxFlex="none"
                  fxLayout="row"
                  fxLayoutAlign="start center"
                  fxLayoutGap="4px"
                >
                  On Destination
                </span>
              </div>
              <div *ngIf="row[column.property] === '6'">
                <span
                  class="rounded px-2 py-1 font-medium text-xs bg-blue-light text-blue"
                  fxFlex="none"
                  fxLayout="row"
                  fxLayoutAlign="start center"
                  fxLayoutGap="4px"
                >
                  Delivered
                </span>
              </div>
            </td>
          </ng-container>
        </ng-container>

        <!-- Status Columns -->
        <ng-container matColumnDef="status">
          <th
            *matHeaderCellDef
            class="uppercase"
            mat-header-cell
            mat-sort-header
          >
            Status
          </th>
          <td *matCellDef="let row" mat-cell>
            <div
              (click)="$event.stopPropagation()"
              fxLayoutAlign="start center"
              fxLayoutGap="4px"
            >
              <div
                [ngClass]="[
                  selectStatusById(row.status).textClass,
                  selectStatusById(row.status).bgClass
                ]"
                class="rounded px-2 py-1 font-medium text-xs"
                fxFlex="none"
              >
                {{ selectStatusById(row.status).text }}
              </div>
              <!-- <div (click)="statusSelect.open()"
                   class="text-secondary bg-base text-hint cursor-pointer hover:bg-hover"
                   fxFlex="none"
                   fxLayout="row"
                   fxLayoutAlign="center center">
                <ic-icon [icon]="icArrowDropDown" size="18px"></ic-icon>
              </div>
              <mat-select #statusSelect="matSelect"
                          (selectionChange)="onStatusChange($event, row)"
                          [value]="selectStatusById(row.status)"
                          class="invisible w-0 h-0 text-sm"
                          fxFlex="0 1 0px">
                <mat-option *ngFor="let stat of statusToShow" [value]="stat">
                  <div [ngClass]="stat.previewClass"
                       class="h-6 w-6 align-middle ltr:mr-2 rtl:ml-2 rounded inline-block"></div>
                  <span>{{ stat.text }}</span>
                </mat-option>
              </mat-select> -->
            </div>
          </td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="actions">
          <th
            *matHeaderCellDef
            class="uppercase"
            mat-header-cell
            mat-sort-header
          >
            Actions
          </th>
          <td *matCellDef="let row" class="w-10 text-secondary" mat-cell>
            <button
              (click)="$event.stopPropagation()"
              [matMenuTriggerData]="{ pac: row }"
              [matMenuTriggerFor]="actionsMenu"
              mat-icon-button
              type="button"
            >
              <mat-icon [icIcon]="icMoreHoriz"></mat-icon>
            </button>
          </td>
        </ng-container>

        <tr *matHeaderRowDef="visibleColumns" mat-header-row></tr>
        <tr
          *matRowDef="let row; columns: visibleColumns"
          @fadeInUp
          class="hover:bg-hover trans-ease-out cursor-pointer"
          mat-row
        ></tr>
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" [attr.colspan]="visibleColumns.length">
            No Package found On Warehouse.
          </td>
        </tr>
      </table>
      <!-- (click)="updateGuide(row)" -->
      <mat-paginator
        [pageSizeOptions]="pageSizeOptions"
        [pageSize]="pageSize"
        class="sticky left-0"
      ></mat-paginator>
    </div>
  </vex-page-layout-content>
</vex-page-layout>

<mat-menu #columnFilterMenu="matMenu" xPosition="before" yPosition="below">
  <button
    (click)="toggleColumnVisibility(column, $event)"
    *ngFor="let column of columns"
    class="checkbox-item mat-menu-item"
  >
    <mat-checkbox
      (click)="$event.stopPropagation()"
      [(ngModel)]="column.visible"
      color="primary"
    >
      {{ column.label }}
    </mat-checkbox>
  </button>
</mat-menu>

<mat-menu #actionsMenu="matMenu" xPosition="before" yPosition="below">
  <ng-template let-pac="pac" matMenuContent>
    <button (click)="openQRStick(pac)" mat-menu-item>
      <mat-icon [icIcon]="icQR"></mat-icon>
      <span>Print QR Sticker</span>
    </button>
    <button (click)="openInvoice(pac)" mat-menu-item>
      <mat-icon [icIcon]="icDoc"></mat-icon>
      <span>Print Invoice</span>
    </button>
  </ng-template>
</mat-menu>
