<mat-dialog-content fxLayout="column">
  <div class="flex flex-col sm:flex-row gap-4">
    <div class="card flex-auto">
      <div class="px-6 py-4 border-b flex items-center">
        <h2 class="headline m-0" fxFlex="auto">Payment Registry</h2>
        <button
          (click)="paymentTimelineGuide(this.defaults)"
          color="warn"
          mat-raised-button
        >
          PAYMENT BITACORA
        </button>
        <button
          class="text-secondary"
          mat-dialog-close
          mat-icon-button
          type="button"
        >
          <mat-icon [icIcon]="icClose"></mat-icon>
        </button>
      </div>
      <div class="px-6 py-4 flex items-center">
        <h3 class="subheading m-0" fxFlex="auto">
          Date:
          {{ this.fecha }}
        </h3>
        <mat-divider
          style="border-top: 1px solid rgb(83, 80, 80)"
        ></mat-divider>
      </div>
      <div class="px-6 py-4 flex items-center">
        Guide:
        {{ this.defaults.tlCargoId }}
        <br />
        Customer:
        {{
          this.defaults.customer.name +
            " - " +
            this.defaults.customer.tlCargoName
        }}
        <mat-divider
          style="border-top: 1px solid rgb(83, 80, 80) important!"
        ></mat-divider>
      </div>

      <div class="px-6 py-4 flex flex-col">
        <vex-address-card
          (addresses)="setAddressBook($event)"
          [address]="this.billingAddress"
          [customer]="this.defaults.customer"
        ></vex-address-card>
      </div>
      <div class="px-6 py-4 flex flex-col">
        <div class="flex flex-col sm:flex-row sm:gap-4">
          <mat-form-field class="mt-6 flex-auto">
            <mat-label>Service Fee</mat-label>
            <input cdkFocusInitial [formControl]="rateCtrl" readonly matInput />
            <mat-icon [icIcon]="icMoney" class="mr-3" matPrefix></mat-icon>
          </mat-form-field>
          <mat-form-field class="mt-6 flex-auto">
            <mat-label>Weight / VLB / Volume</mat-label>
            <input
              cdkFocusInitial
              [formControl]="volumenCtrl"
              readonly
              matInput
            />
            <mat-icon [icIcon]="icRule" class="mr-3" matPrefix></mat-icon>
          </mat-form-field>
        </div>

        <mat-form-field class="mt-6 flex-auto">
          <mat-label>Customer Credit</mat-label>
          <input type="text" [formControl]="balanceCtrl" matInput readonly />
          <mat-icon [icIcon]="icMoney" class="mr-3" matPrefix></mat-icon>
        </mat-form-field>
        <mat-checkbox
          class="checkbox"
          [formControl]="useBalanceCtrl"
          (change)="useBalance()"
          value="false"
        >
          Do you want to use the customer's account credit?
        </mat-checkbox>

        <mat-form-field class="mt-6 flex-auto">
          <mat-label>Amount to pay</mat-label>
          <input cdkFocusInitial [formControl]="costCtrl" readonly matInput />
          <mat-icon [icIcon]="icMoney" class="mr-3" matPrefix></mat-icon>
          <mat-hint
            >Formula: {{ formula }} {{ discountDetails }}
            {{ creditDetails }}</mat-hint
          >
        </mat-form-field>
        <mat-checkbox
          class="checkbox"
          [formControl]="discountCtrl"
          (change)="useDiscount()"
        >
          Do you want to make a discount to this amount?
        </mat-checkbox>

        <div
          class="flex flex-col sm:flex-row"
          *ngIf="discountCtrl.value"
          style="padding-top: 20px"
        >
          <mat-form-field class="flex-auto s: ml-1">
            <mat-label>Select a Type of Discount</mat-label>
            <mat-icon [icIcon]="icMoreVert" class="mr-3" matPrefix></mat-icon>
            <mat-select
              [formControl]="discountTypeCtrl"
              placeholder="Discount Types"
              (valueChange)="clearDiscount()"
            >
              <mat-option
                *ngFor="let discountType of discountTypes"
                [value]="discountType.id"
              >
                {{ discountType.name }}
              </mat-option>
            </mat-select>
            <mat-hint>Wich type of Discount are you making?</mat-hint>
          </mat-form-field>
        </div>
        <div class="flex flex-col sm:flex-row" *ngIf="discountCtrl.value">
          <mat-form-field
            class="mt-6 flex-auto"
            *ngIf="discountTypeCtrl.value === 1"
          >
            <mat-label>Percentage</mat-label>
            <input
              cdkFocusInitial
              [formControl]="percentageDiscountCtrl"
              (keyup)="configADiscount()"
              matInput
            />
            <mat-icon class="mr-3" matPrefix>percent</mat-icon>
            <mat-hint
              >Set the discount percentage to apply to the cost of the
              guide.</mat-hint
            >
          </mat-form-field>
          <mat-form-field
            class="mt-6 flex-auto"
            *ngIf="discountTypeCtrl.value === 2"
          >
            <mat-label>Amount</mat-label>
            <input
              cdkFocusInitial
              [formControl]="amountDiscountCtrl"
              (keyup)="configADiscount()"
              matInput
            />
            <mat-icon [icIcon]="icMoney" class="mr-3" matPrefix></mat-icon>
            <mat-hint
              >Sets the amount of discount to apply to the cost of the
              guide.</mat-hint
            >
          </mat-form-field>
        </div>

        <div class="flex flex-col sm:flex-row" style="padding-top: 20px">
          <mat-form-field class="flex-auto s: ml-1">
            <mat-label>Select a Payment Type</mat-label>
            <mat-icon [icIcon]="icMoreVert" class="mr-3" matPrefix></mat-icon>
            <mat-select
              [formControl]="paymentTypesCtrl"
              placeholder="Payment Types"
              #paymentTypesSelect
              required
            >
              <mat-option>
                <ngx-mat-select-search
                  placeholderLabel="Search"
                  noEntriesFoundLabel="'No Payment Types Found'"
                  [formControl]="paymentTypesFilterCtrl"
                >
                  <mat-icon
                    [icIcon]="icClose"
                    [inline]="true"
                    size="24px"
                    ngxMatSelectSearchClear
                  ></mat-icon>
                </ngx-mat-select-search>
              </mat-option>

              <mat-option
                *ngFor="let paymentType of filteredPaymentTypes | async"
                [value]="paymentType._id"
              >
                {{ paymentType.type }} - {{ paymentType.name }}
              </mat-option>
            </mat-select>
            <mat-hint>Wich type of Payment are you receiving?</mat-hint>
          </mat-form-field>
        </div>
        <div class="flex flex-col sm:flex-row">
          <mat-form-field class="mt-6 flex-auto">
            <mat-label>Total payment</mat-label>
            <input
              cdkFocusInitial
              [formControl]="paidAmountCtrl"
              (keypress)="
                keyPressNumbersWithDecimalFC($event, this.paidAmountCtrl)
              "
              matInput
            />
            <mat-icon [icIcon]="icCard" class="mr-3" matPrefix></mat-icon>
          </mat-form-field>
        </div>
        <br />
        <mat-checkbox
          class="checkbox"
          [formControl]="notificationCtrl"
          checked="true"
          value="true"
        >
          Send a notification email to the customer?
        </mat-checkbox>

        <div class="flex items-center justify-end gap-2">
          <button color="primary" mat-button type="button" (click)="reset()">
            RESET
          </button>
          <div fxLayout="row" fxLayoutAlign="center center">
            <mat-progress-spinner
              diameter="40"
              mode="indeterminate"
              color="primary"
              *ngIf="spinner"
            ></mat-progress-spinner>
          </div>
          <div *ngIf="!spinner">
            <button
              *ngIf="mode === 'create'"
              (click)="submit()"
              [disabled]="false"
              color="primary"
              mat-raised-button
            >
              PAYMENT REGISTRY
            </button>
          </div>
          <div *ngIf="!spinner">
            <button
              *ngIf="discountCtrl.value"
              (click)="createDiscount()"
              [disabled]="false"
              color="warn"
              mat-raised-button
            >
              SAVE DISCOUNT ONLY
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-dialog-content>
