<div @fadeInUp class="card overflow-hidden" style="padding: 10px">
  <div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>
    <h2 class="headline m-0" fxFlex="auto">Repacking Module</h2>
    <button
      class="text-secondary"
      mat-dialog-close
      mat-icon-button
      type="button"
    >
      <mat-icon [icIcon]="icClose"></mat-icon>
    </button>
  </div>

  <h2 class="subheading-2">Customer & Packages Information</h2>
  <br />
  <div class="subheading-1">Customer selected</div>
  <div class="flex flex-col sm:flex-row" *ngIf="defaults">
    <mat-form-field class="flex-auto xs: ml-1 width:60px">
      <mat-label>Customer</mat-label>
      <input
        type="text"
        [formControl]="customerCtrl"
        [readonly]="true"
        matInput
      />
      <mat-hint>Who is receiving the package?</mat-hint>
    </mat-form-field>
  </div>
  <div class="sm:flex-row" style="overflow-y: scroll">
    <vex-picking-list-packages
      [customerId]="customerCtrl.value"
      [customerPackageArray]="this.defaults"
    ></vex-picking-list-packages>
  </div>

  <div class="flex-row" style="padding-top: 20px">
    <div *ngIf="!needPkgType" class="flex flex-col sm:flex-row">
      <div class="flex flex-row w-full" [formGroup]="packageFormGroup">
        <mat-form-field class="flex-auto w-40 pr-2">
          <mat-label>Height</mat-label>
          <input
            formControlName="height"
            (keypress)="keyPressNumbersWithDecimal($event, 'height')"
            (focusout)="calculaVolume_HxWxL()"
            matInput
          />
          <mat-icon [icIcon]="icRule" class="mr-3" matPrefix></mat-icon>
          <mat-hint align="start">Enter the measurements in inches</mat-hint>
        </mat-form-field>
        <mat-form-field class="flex-auto w-40 pr-2">
          <mat-label>Width</mat-label>
          <input
            formControlName="width"
            (keypress)="keyPressNumbersWithDecimal($event, 'width')"
            (focusout)="calculaVolume_HxWxL()"
            matInput
          />
          <mat-icon [icIcon]="icRule" class="mr-3" matPrefix></mat-icon>
        </mat-form-field>
        <mat-form-field class="flex-auto w-40 pr-2">
          <mat-label>Length</mat-label>
          <input
            formControlName="length"
            (keypress)="keyPressNumbersWithDecimal($event, 'length')"
            (focusout)="calculaVolume_HxWxL()"
            matInput
          />
          <mat-icon [icIcon]="icRule" class="mr-1" matPrefix></mat-icon>
        </mat-form-field>
        <mat-form-field class="flex-auto w-48">
          <mat-label>Type</mat-label>
          <mat-select formControlName="type" matInput>
            <mat-option value="">Select package type</mat-option>
            <mat-option value="BAG">BAG</mat-option>
            <mat-option value="BOX">BOX</mat-option>
            <mat-option value="CRATE">CRATE</mat-option>
            <mat-option value="PALLET">PALLET</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="sm:flex-row md:flex-row" *ngIf="needPkgType">
      <mat-form-field class="flex-auto s: ml-1" style="width: 70%">
        <mat-label>New Package Type</mat-label>
        <mat-icon [icIcon]="icMoreVert" class="mr-3" matPrefix></mat-icon>
        <mat-select
          [formControl]="packageTypesCtrl"
          placeholder="Package Type"
          (selectionChange)="calculaVolume()"
          #packageTypesSelect
          matInput
          required
        >
          <mat-option>
            <ngx-mat-select-search
              placeholderLabel="Search"
              noEntriesFoundLabel="Not Package Type Found"
              [formControl]="packageTypesFilterCtrl"
            >
              <mat-icon
                [icIcon]="icClose"
                [inline]="true"
                size="24px"
                ngxMatSelectSearchClear
              ></mat-icon>
            </ngx-mat-select-search>
          </mat-option>

          <mat-option
            *ngFor="let packageType of filteredPackageTypes | async"
            [value]="packageType._id"
          >
            {{ packageType.name }} - Measures (inches) H:{{
              packageType.height
            }}
            x W:{{ packageType.width }} x L:{{ packageType.length }}
          </mat-option>
        </mat-select>
        <mat-hint>Type of new package?</mat-hint>
      </mat-form-field>
      <span class="flex-auto xs: ml-1" style="width: 30%">
        <button
          (click)="createPackageType()"
          [disabled]="false"
          color="primary"
          mat-button
          type="button"
        >
          NEW ONE
        </button>
      </span>
    </div>
    <br />
    <div class="flex flex-col sm:flex-row">
      <mat-slide-toggle
        color="primary"
        [checked]="false"
        (change)="onChange($event)"
      >
        Or do you want to select one of the system's registered package types
        instead?
      </mat-slide-toggle>
    </div>
  </div>

  <div class="mt-4" fxLayout="column" fxLayoutGap="8px">
    <div class="flex flex-col sm:flex-row" style="padding-top: 20px">
      <span class="flex-auto xs: ml-1 anchoTercio_1">
        Actual Weight: {{ oldWeight }} (pounds lb)
      </span>
      <span class="flex-auto xs: ml-1 anchoTercio_2">
        Actual Volume: {{ oldVolume }} ft<sup>3</sup>
      </span>
      <span class="flex-auto xs: ml-1 anchoTercio_3">
        Actual Volumetric Weight: {{ oldVolumeWeight }} Vlb
      </span>
    </div>
    <div fxLayout="row">
      <mat-form-field class="flex-auto xs: ml-1 width:60px">
        <mat-label>New Package Weight</mat-label>
        <input type="text" [formControl]="weightCtrl" matInput />
        <mat-hint>Weight (pounds lb)</mat-hint>
      </mat-form-field>
      <mat-form-field class="flex-auto xs: ml-1 width:40px">
        <mat-label>New Package Volume</mat-label>
        <input
          type="text"
          [formControl]="volumeCtrl"
          matInput
          [readonly]="true"
        />
        <mat-hint>Volume (ft<sup>3</sup>)</mat-hint>
      </mat-form-field>
      <mat-form-field class="flex-auto xs: ml-1 width:40px">
        <mat-label>New Package Volumetric Weight</mat-label>
        <input type="text" [formControl]="vlbCtrl" matInput [readonly]="true" />
        <mat-hint>Volumetric Weight (vlb)</mat-hint>
      </mat-form-field>
    </div>
    <div class="mt-4" fxLayout="column" fxLayoutGap="8px">
      <mat-form-field class="flex-auto">
        <mat-label>Notes</mat-label>
        <textarea [formControl]="shipperNoteCtrl" matInput></textarea>
        <mat-hint
          >If you have something to say regarding the repacking process, feel
          free to expose all the details.</mat-hint
        >
      </mat-form-field>
    </div>
    <div class="mt-4" fxLayout="column" fxLayoutGap="8px">
      <mat-form-field class="flex-auto">
        <mat-label>Warehouse Location</mat-label>
        <input type="text" [formControl]="physicalLocationCtrl" matInput />
        <mat-hint
          >Enter the reference regarding the location of the new repacked box in
          the warehouse.</mat-hint
        >
      </mat-form-field>
      <div class="flex flex-col sm:flex-row">
        <span
          style="font-size: small; padding-left: 5px"
          class="text-secondary"
          fxLayoutGap="5px"
          >Take a picture...</span
        >
      </div>
      <br />
      <div class="flex flex-col sm:flex-row">
        <input
          class="ancho50_1"
          type="file"
          accept="image/*"
          id="file-input"
          capture="environment"
          (change)="previewRepackingImagen($event.target.files[0])"
        />
        <div class="ancho50_2" style="text-align: center">
          <img
            *ngIf="previewRepackingStatus"
            [src]="photoURL('repacking')"
            alt="the Package Image"
            width="200px"
            height="200px"
            style="text-align: center"
          />
        </div>
      </div>
      <br />
      <span style="font-size: x-small; padding-left: 5px" class="text-secondary"
        >This photo will be sent to the client, make sure everything is ok</span
      >
      <br />
      <mat-checkbox
        class="checkbox"
        [formControl]="notificationRePackCtrl"
        checked="true"
        value="true"
      >
        Send a notification email to the customer about the repacking process?
      </mat-checkbox>
    </div>
    <div fxLayout="row" fxLayoutAlign="end center">
      <mat-progress-spinner
        diameter="40"
        mode="indeterminate"
        color="primary"
        *ngIf="spinnerRepack"
      ></mat-progress-spinner>
      <div
        *ngIf="!spinnerRepack"
        class="actions"
        fxLayout="row"
        fxLayoutAlign="end center"
        fxLayoutGap="8px"
      >
        <button
          color="primary"
          type="button"
          (click)="submitRepacking()"
          mat-raised-button
        >
          REPACK
        </button>
      </div>
    </div>
  </div>
</div>
