<vex-page-layout>
  <ngx-spinner
    name="pckSpinner"
    bdColor="rgba(0, 0, 0, 0.8)"
    size="small"
    color="#fff"
    [fullScreen]="false"
    type="ball-climbing-dot"
    template="<img src='../../../../../assets/img/tlcargo/tl_cargo_3.png' width='50px' height='50px'>"
    ><p style="color: white">Loading...</p></ngx-spinner
  >

  <vex-page-layout-header
    class="pb-16"
    fxLayout="column"
    fxLayoutAlign="center start"
  >
    <div
      [class.container]="layoutCtrl.value === 'boxed'"
      [class.px-gutter]="layoutCtrl.value === 'fullwidth'"
      class="w-full flex flex-col sm:flex-row justify-between"
    >
      <div>
        <h1 class="title mt-0 mb-1">Warehouse Inventory</h1>
        <vex-breadcrumbs
          [crumbs]="[
            { value: 'Warehousing Module', router: '/app' },
            { value: 'Warehouse Inventory', router: '/app/warehouse-list' }
          ]"
        ></vex-breadcrumbs>
      </div>
    </div>
  </vex-page-layout-header>

  <vex-page-layout-content
    [class.container]="layoutCtrl.value === 'boxed'"
    [class.px-gutter]="layoutCtrl.value === 'fullwidth'"
    class="-mt-6"
  >
    <div class="card overflow-auto -mt-16">
      <div
        class="bg-app-bar px-6 h-16 border-b sticky left-0"
        fxLayout="row"
        fxLayoutAlign="start center"
      >
        <button
          [routerLink]="['/app/warehouse-list/package-registry/0']"
          class="ml-4"
          color="primary"
          fxFlex="none"
          mat-mini-fab
          matTooltip="Create Inventory Registry"
          type="button"
        >
          <mat-icon [icIcon]="icAdd"></mat-icon></button
        >&nbsp;&nbsp;
        <h2
          class="title my-0 ltr:pr-4 rtl:pl-4 ltr:mr-4 rtl:ml-4 ltr:border-r rtl:border-l"
          fxFlex="none"
          fxHide.xs
        >
          <span *ngIf="selection.isEmpty()">Package List</span>
          <span *ngIf="selection.hasValue()"
            >{{ selection.selected.length }} Package<span
              *ngIf="selection.selected.length > 1"
              >s</span
            >
            selected</span
          >
        </h2>

        <div
          *ngIf="selection.hasValue()"
          class="mr-4 pr-4 border-r"
          fxFlex="none"
        >
          <button
            (click)="deletePacs(selection.selected)"
            color="primary"
            mat-icon-button
            matTooltip="Delete selected"
            type="button"
          >
            <mat-icon [icIcon]="icDelete"></mat-icon>
          </button>
          <button
            (click)="createRePack(selection.selected)"
            color="primary"
            mat-icon-button
            matTooltip="Repacking selected"
            type="button"
          >
            <mat-icon
              ><span class="material-symbols-outlined"> box_add </span>
            </mat-icon>
          </button>
          <button
            (click)="notifyCustomers(selection.selected)"
            color="primary"
            mat-icon-button
            matTooltip="Notify selected"
            type="button"
          >
            <mat-icon [icIcon]="icAlarm"></mat-icon>
          </button>
        </div>

        <ng-container *ngIf="!dateSearch">
          <div
            class="bg-card rounded-full border px-4"
            fxFlex="400px"
            fxFlex.lt-md="auto"
            fxHide.xs
            fxLayout="row"
            fxLayoutAlign="start center"
          >
            <input
              [formControl]="searchCtrl"
              (keyup.enter)="onFilterChange(searchCtrl.value)"
              class="px-0 py-1 border-0 outline-none w-full bg-transparent"
              placeholder="Enter the terms to search..."
              type="search"
            />

            <button
              (click)="onFilterChange(searchCtrl.value)"
              color="primary"
              mat-icon-button
              matTooltip="Search"
              type="button"
            >
              <mat-icon [icIcon]="icSearch"></mat-icon>
            </button>
          </div>
          <button
            (click)="onFilterChange('')"
            color="primary"
            mat-icon-button
            matTooltip="Reset table data"
            type="button"
          >
            <mat-icon>
              <span class="material-symbols-outlined"> restart_alt </span>
            </mat-icon>
          </button>
        </ng-container>
        <ng-container *ngIf="dateSearch">
          Since &nbsp;&nbsp;
          <div
            class="bg-card rounded-full border px-4"
            fxFlex="200px"
            fxLayout="row"
            fxLayoutAlign="start center"
          >
            <input
              [formControl]="sinceDateCtrl"
              class="px-4 py-3 border-0 outline-none w-full bg-transparent"
              type="date"
            />
          </div>
          &nbsp;&nbsp;Until&nbsp;&nbsp;
          <div
            class="bg-card rounded-full border px-4"
            fxFlex="200px"
            fxLayout="row"
            fxLayoutAlign="start center"
          >
            <input
              [formControl]="untilDateCtrl"
              class="px-4 py-3 border-0 outline-none w-full bg-transparent"
              type="date"
            />
          </div>
          <button
            (click)="onFilterChange('')"
            color="primary"
            mat-icon-button
            matTooltip="Search"
            type="button"
          >
            <mat-icon [icIcon]="icSearch"></mat-icon>
          </button>
          <button
            (click)="onFilterChange('')"
            color="primary"
            mat-icon-button
            matTooltip="Reset table data"
            type="button"
          >
            <mat-icon>
              <span class="material-symbols-outlined"> restart_alt </span>
            </mat-icon>
          </button>
        </ng-container>
        <span fxFlex></span>
        <button
          (click)="showDate()"
          [color]="dateColor"
          mat-icon-button
          matTooltip="Date Range Search"
          type="button"
        >
          <mat-icon>
            <span class="material-symbols-outlined"> date_range </span>
          </mat-icon>
        </button>

        <button
          [matMenuTriggerFor]="columnFilterMenu"
          class="ml-4"
          fxFlex="none"
          mat-icon-button
          matTooltip="Filter Columns"
          type="button"
        >
          <mat-icon [icIcon]="icFilterList"></mat-icon>
        </button>
        <mat-progress-spinner
          diameter="20"
          mode="indeterminate"
          color="primary"
          *ngIf="spinnerDown"
        ></mat-progress-spinner>
        <div *ngIf="!spinnerDown">
          <button
            (click)="exportToExcel()"
            matTooltip="Download table"
            mat-icon-button
          >
            <mat-icon>
              <span class="material-symbols-outlined"> download </span>
            </mat-icon>
          </button>
        </div>
      </div>

      <table
        @stagger
        [dataSource]="dataSource"
        class="w-full"
        id="warehousePackagesTable"
        mat-table
        matSort
      >
        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- Checkbox Column -->
        <ng-container matColumnDef="checkbox">
          <th *matHeaderCellDef mat-header-cell>
            <mat-checkbox
              (change)="$event ? masterToggle() : null"
              [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()"
              color="primary"
            >
            </mat-checkbox>
          </th>
          <td *matCellDef="let row" class="w-4" mat-cell>
            <mat-checkbox
              (change)="$event ? selection.toggle(row) : null"
              (click)="$event.stopPropagation()"
              [checked]="selection.isSelected(row)"
              color="primary"
            >
            </mat-checkbox>
          </td>
        </ng-container>

        <!-- Text Columns -->
        <ng-container *ngFor="let column of columns; trackBy: trackByProperty">
          <ng-container
            *ngIf="column.type === 'text'"
            [matColumnDef]="column.property"
          >
            <th
              *matHeaderCellDef
              class="uppercase"
              mat-header-cell
              mat-sort-header
            >
              {{ column.label }}
            </th>
            <td *matCellDef="let row" [ngClass]="column.cssClasses" mat-cell>
              <div
                *ngIf="
                  column.property !== 'shortDesc' &&
                  column.property !== 'user' &&
                  column.property !== 'shipper' &&
                  column.property !== 'carrier' &&
                  column.property !== 'customer' &&
                  column.property !== 'package' &&
                  column.property !== 'receptionDate' &&
                  column.property !== 'notification'
                "
              >
                {{ row[column.property] }}
              </div>
              <div
                *ngIf="column.property === 'shortDesc'"
                matTooltip="{{ row[column.property] }}"
              >
                {{
                  row[column.property].length > 30
                    ? row[column.property].toString().substr(0, 30) + "..."
                    : row[column.property]
                }}
              </div>
              <div *ngIf="column.property === 'user'">
                {{ row[column.property].name }}
              </div>
              <div *ngIf="column.property === 'shipper'">
                {{ row[column.property].name }}
              </div>
              <div *ngIf="column.property === 'carrier'">
                {{ row[column.property].name }}
              </div>
              <div
                *ngIf="column.property === 'customer'"
                matTooltip="{{
                  row[column.property].tlCargoName +
                    ' - ' +
                    row[column.property].name
                }}"
              >
                {{
                  (
                    row[column.property].tlCargoName +
                    " - " +
                    row[column.property].name
                  ).length > 20
                    ? (
                        row[column.property].tlCargoName +
                        " - " +
                        row[column.property].name
                      ).substr(0, 20) + "..."
                    : row[column.property].tlCargoName +
                      " - " +
                      row[column.property].name
                }}
              </div>
              <div
                *ngIf="column.property === 'package'"
                style="font-size: x-small"
              >
                {{ row[column.property].name }}
              </div>
              <div *ngIf="column.property === 'receptionDate'">
                {{ row[column.property].split("T")[0] }}
              </div>
              <div
                *ngIf="column.property === 'notification'"
                style="font-size: small"
              >
                <span *ngIf="row[column.property] === 'true'">
                  YES, {{ row["notifiedTimes"] }}
                  <span *ngIf="row['notifiedTimes'] > 1">times</span>
                  <span *ngIf="row['notifiedTimes'] == 1">time</span>
                </span>
                <span
                  *ngIf="
                    row[column.property] === 'false' &&
                    row['notifiedTimes'] >= 1
                  "
                >
                  YES, {{ row["notifiedTimes"] }}
                  <span *ngIf="row['notifiedTimes'] > 1">times</span>
                  <span *ngIf="row['notifiedTimes'] == 1">time</span>
                </span>
                <span
                  *ngIf="
                    row[column.property] === 'false' &&
                    row['notifiedTimes'] === 0
                  "
                >
                  NO
                </span>
              </div>
            </td>
          </ng-container>
        </ng-container>

        <!-- Status Columns -->
        <ng-container matColumnDef="status">
          <th
            *matHeaderCellDef
            class="uppercase"
            mat-header-cell
            mat-sort-header
          >
            Status
          </th>
          <td *matCellDef="let row" mat-cell>
            <div
              (click)="$event.stopPropagation()"
              fxLayoutAlign="start center"
              fxLayoutGap="4px"
            >
              <div
                [ngClass]="[
                  selectStatusById(row.status).textClass,
                  selectStatusById(row.status).bgClass
                ]"
                class="rounded px-2 py-1 font-medium text-xs"
                fxFlex="none"
              >
                {{ selectStatusById(row.status).text }}
              </div>
            </div>
          </td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="actions">
          <th
            *matHeaderCellDef
            class="uppercase"
            mat-header-cell
            mat-sort-header
          >
            Actions
          </th>
          <td *matCellDef="let row" class="w-10 text-secondary" mat-cell>
            <button
              (click)="$event.stopPropagation()"
              [matMenuTriggerData]="{ pac: row }"
              [matMenuTriggerFor]="actionsMenu"
              mat-icon-button
              type="button"
            >
              <mat-icon [icIcon]="icMoreHoriz"></mat-icon>
            </button>
          </td>
        </ng-container>

        <tr *matHeaderRowDef="visibleColumns" mat-header-row></tr>
        <tr
          (click)="updatePac(row)"
          *matRowDef="let row; columns: visibleColumns"
          @fadeInUp
          class="hover:bg-hover trans-ease-out cursor-pointer"
          mat-row
        ></tr>
        <tr class="mat-row" *matNoDataRow>
          <td
            class="mat-cell"
            [attr.colspan]="visibleColumns.length"
            style="text-align: center"
          >
            No Packages found in Warehouse.
          </td>
        </tr>
      </table>

      <mat-paginator
        [pageSizeOptions]="pageSizeOptions"
        [length]="totalData"
        [pageSize]="pageSize"
        class="sticky left-0"
      ></mat-paginator>
    </div>
  </vex-page-layout-content>
</vex-page-layout>

<mat-menu #columnFilterMenu="matMenu" xPosition="before" yPosition="below">
  <button
    (click)="toggleColumnVisibility(column, $event)"
    *ngFor="let column of columns"
    class="checkbox-item mat-menu-item"
  >
    <mat-checkbox
      (click)="$event.stopPropagation()"
      [(ngModel)]="column.visible"
      color="primary"
    >
      {{ column.label }}
    </mat-checkbox>
  </button>
</mat-menu>

<mat-menu #actionsMenu="matMenu" xPosition="before" yPosition="below">
  <ng-template let-pac="pac" matMenuContent>
    <button (click)="openSplitter(pac)" mat-menu-item>
      <mat-icon>
        <span class="material-symbols-outlined"> call_split </span>
      </mat-icon>
      <span>Split the Package</span>
    </button>

    <button
      [routerLink]="['/app/warehouse-list/package-registry/' + pac._id]"
      [disabled]="+pac.status === 2 || +pac.status >= 4"
      mat-menu-item
    >
      <mat-icon [icIcon]="icEdit"></mat-icon>
      <span>Edit</span>
    </button>
    <button (click)="openReceipt(pac)" mat-menu-item>
      <mat-icon [icIcon]="icPrint"></mat-icon>
      <span>Print Receipt</span>
    </button>
    <button
      (click)="sendNotification(pac, true)"
      [disabled]="+pac.status === 2 || +pac.status >= 4"
      mat-menu-item
    >
      <mat-icon [icIcon]="icAlarm"></mat-icon>
      <span>Notify Customer</span>
    </button>
    <button
      (click)="openQRStick(pac)"
      [disabled]="+pac.status === 2 || +pac.status >= 4"
      mat-menu-item
    >
      <mat-icon [icIcon]="icQR"></mat-icon>
      <span>Print QR Sticker</span>
    </button>
    <button (click)="deletePac(pac)" mat-menu-item>
      <mat-icon [icIcon]="icDelete"></mat-icon>
      <span>Delete</span>
    </button>
  </ng-template>
</mat-menu>
