<vex-page-layout>
  <ngx-spinner
    name="guideSpinner"
    bdColor="rgba(0, 0, 0, 0.8)"
    size="small"
    color="#fff"
    [fullScreen]="false"
    type="ball-climbing-dot"
    template="<img src='../../../../../assets/img/tlcargo/tl_cargo_3.png' width='50px' height='50px'>"
    ><p style="color: white">Loading...</p></ngx-spinner
  >
  <vex-page-layout-header
    class="pb-16"
    fxLayout="column"
    fxLayoutAlign="center start"
  >
    <div
      [class.container]="layoutCtrl.value === 'boxed'"
      [class.px-gutter]="layoutCtrl.value === 'fullwidth'"
      class="w-full flex flex-col sm:flex-row justify-between"
    >
      <div>
        <h1 class="title mt-0 mb-1">Settle Shipping -> {{ shipping.name }}</h1>
        <h1 class="title mt-0 mb-1">
          <ic-icon>
            <span class="material-symbols-outlined"> flight_takeoff </span>
          </ic-icon>
          Departure Date: {{ shipping.departureDate.split("T")[0] }}&nbsp; ->
          Arrival Date: {{ shipping.arrivalDate.split("T")[0] }}&nbsp;&nbsp;
          <div
            ngClass="{{ selectShipStatusById(shipping.status).classColor }}"
            class="tag"
            fxFlex="none"
          >
            {{ selectShipStatusById(shipping.status).text }}
          </div>
        </h1>
        <vex-breadcrumbs
          [crumbs]="[
            { value: 'Outgoing Shipping Module', router: '/app' },
            { value: 'Ships Registry', router: '/app/ships' },
            { value: 'Settle Shipping', router: '/app' }
          ]"
        ></vex-breadcrumbs>
      </div>
    </div>
  </vex-page-layout-header>

  <vex-page-layout-content
    [class.container]="layoutCtrl.value === 'boxed'"
    [class.px-gutter]="layoutCtrl.value === 'fullwidth'"
    class="-mt-6"
  >
    <div class="card overflow-auto -mt-16">
      <div
        class="bg-app-bar px-6 h-16 border-b sticky left-0"
        fxLayout="row"
        fxLayoutAlign="start center"
      >
        <h2
          class="title my-0 ltr:pr-4 rtl:pl-4 ltr:mr-4 rtl:ml-4 ltr:border-r rtl:border-l"
          fxFlex="none"
          fxHide.xs
        >
          <span>Packages registered in Shipping</span>
        </h2>

        <div
          *ngIf="selection.hasValue()"
          class="mr-4 pr-4 border-r"
          fxFlex="none"
        >
          <button
            (click)="assignToPallet(selection.selected)"
            color="primary"
            mat-icon-button
            [disabled]="
              this.shipping.status >= '2' || checkSelected(selection.selected)
            "
            matTooltip="Assign to a container"
            type="button"
          >
            <mat-icon>table_chart</mat-icon>
          </button>
        </div>
        <div
          class="bg-card rounded-full border px-4"
          fxFlex="400px"
          fxFlex.lt-md="auto"
          fxHide.xs
          fxLayout="row"
          fxLayoutAlign="start center"
        >
          <ic-icon [icIcon]="icSearch" size="20px"></ic-icon>
          <input
            [formControl]="searchCtrl"
            class="px-4 py-3 border-0 outline-none w-full bg-transparent"
            placeholder="Search..."
            type="search"
          />
        </div>

        <span fxFlex></span>

        <button
          class="ml-4"
          fxFlex="none"
          fxHide.gt-xs
          mat-icon-button
          type="button"
        >
          <mat-icon [icIcon]="icSearch"></mat-icon>
        </button>

        <button
          [matMenuTriggerFor]="columnFilterMenu"
          class="ml-4"
          fxFlex="none"
          mat-icon-button
          matTooltip="Filter Columns"
          type="button"
        >
          <mat-icon [icIcon]="icFilterList"></mat-icon>
        </button>
      </div>
      <table
        @stagger
        [dataSource]="dataSource"
        class="w-full"
        mat-table
        matSort
      >
        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- Checkbox Column -->
        <ng-container matColumnDef="checkbox">
          <th *matHeaderCellDef mat-header-cell>
            <mat-checkbox
              (change)="$event ? masterToggle() : null"
              [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()"
              color="primary"
            >
            </mat-checkbox>
          </th>
          <td *matCellDef="let row" class="w-4" mat-cell>
            <mat-checkbox
              (change)="$event ? selection.toggle(row) : null"
              (click)="$event.stopPropagation()"
              [checked]="selection.isSelected(row)"
              color="primary"
            >
            </mat-checkbox>
          </td>
        </ng-container>

        <!-- Text Columns -->
        <ng-container *ngFor="let column of columns; trackBy: trackByProperty">
          <ng-container
            *ngIf="column.type === 'text'"
            [matColumnDef]="column.property"
          >
            <th
              *matHeaderCellDef
              class="uppercase"
              mat-header-cell
              mat-sort-header
            >
              {{ column.label }}
            </th>
            <td *matCellDef="let row" [ngClass]="column.cssClasses" mat-cell>
              <div
                *ngIf="
                  column.property !== 'shipContainer' &&
                  column.property !== 'status' &&
                  column.property !== 'user' &&
                  column.property !== 'shortDesc' &&
                  column.property !== 'weight' &&
                  column.property !== 'volume' &&
                  column.property !== 'package' &&
                  column.property !== 'receptionDate'
                "
              >
                {{ row[column.property] }}
              </div>
              <div
                *ngIf="column.property === 'shortDesc'"
                matTooltip="{{ row[column.property] }}"
              >
                {{
                  row[column.property].length > 10
                    ? row[column.property].substr(0, 10) + "..."
                    : row[column.property]
                }}
              </div>
              <div *ngIf="column.property === 'package'">
                H: {{ row[column.property].height }}" / W:
                {{ row[column.property].width }}" / L:
                {{ row[column.property].length }}"
              </div>
              <div *ngIf="column.property === 'shipContainer'">
                <div *ngIf="!row[column.property]">N/A</div>
                <div *ngIf="row[column.property]">
                  {{ row[column.property] }}
                </div>
              </div>
              <div *ngIf="column.property === 'user'">
                {{ row[column.property].name }}
              </div>
              <div *ngIf="column.property === 'volume'">
                {{ row[column.property] }} ft<sup>3</sup>
              </div>
              <div *ngIf="column.property === 'weight'">
                {{ row[column.property] }} lb
              </div>
              <div *ngIf="column.property === 'receptionDate'">
                {{ row[column.property].split("T")[0] }}
              </div>
              <div *ngIf="column.property === 'status'">
                <div
                  [ngClass]="[
                    selectStatusById(row[column.property]).textClass,
                    selectStatusById(row[column.property]).bgClass
                  ]"
                  class="rounded px-2 py-1 font-medium text-xs"
                  fxFlex="none"
                >
                  {{ selectStatusById(row[column.property]).text }}
                </div>
              </div>
            </td>
          </ng-container>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="actions">
          <th
            *matHeaderCellDef
            class="uppercase"
            mat-header-cell
            mat-sort-header
          >
            Actions
          </th>
          <td *matCellDef="let row" class="w-10 text-secondary" mat-cell>
            <button
              (click)="$event.stopPropagation()"
              [matMenuTriggerData]="{ tlPackage: row }"
              [matMenuTriggerFor]="actionsMenu"
              mat-icon-button
              type="button"
            >
              <mat-icon [icIcon]="icMoreHoriz"></mat-icon>
            </button>
          </td>
        </ng-container>

        <tr *matHeaderRowDef="visibleColumns" mat-header-row></tr>
        <tr
          *matRowDef="let row; columns: visibleColumns"
          @fadeInUp
          class="hover:bg-hover trans-ease-out"
          mat-row
        ></tr>
        <tr class="mat-row" *matNoDataRow>
          <td
            class="mat-cell"
            [attr.colspan]="visibleColumns.length"
            style="text-align: center"
          >
            No Packages found On System.
          </td>
        </tr>
      </table>
      <!-- (click)="updateGuide(row)" -->
      <mat-paginator
        [pageSizeOptions]="pageSizeOptions"
        [pageSize]="pageSize"
        class="sticky left-0"
      ></mat-paginator>
    </div>
    <mat-divider></mat-divider>
    <div
      class="overflow-auto container p-gutter grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4"
    >
      <div
        class="card p-6 relative hover:shadow-16 trans-shadow"
        fxLayout="column"
        fxLayoutAlign="space-evenly center"
        fxFlex="33"
      >
        <div
          class="text-primary bg-primary/10"
          class="rounded-full w-12 h-12 flex items-center justify-center"
        >
          <mat-icon>opacity</mat-icon>
        </div>
        <h2 class="display-2 font-bold mt-4 mb-2">Volume</h2>

        <h3 class="subheading-2 font-medium text-secondary m-0">
          Current volume of shipping packages
        </h3>
        <h4
          [class.text-green]="true"
          class="subheading-1 font-medium mt-4 mb-0"
        >
          <span>{{ this.totalVolume.toFixed(2) }} ft<sup>3</sup></span>
        </h4>
        <button
          matTooltip="( height * width * length) / 1756"
          class="absolute top-0 left-0 mt-2 ml-2 text-hint"
          mat-icon-button
          matTooltipPosition="after"
          type="button"
        >
          <mat-icon height="18px" width="18px">help</mat-icon>
        </button>
      </div>
      <div
        class="card p-6 relative hover:shadow-16 trans-shadow"
        fxLayout="column"
        fxLayoutAlign="space-evenly center"
        fxFlex="33"
      >
        <div
          class="text-primary bg-primary/10"
          class="rounded-full w-12 h-12 flex items-center justify-center"
        >
          <mat-icon
            ><span class="material-symbols-outlined"> scale </span></mat-icon
          >
        </div>
        <h2 class="display-2 font-bold mt-4 mb-2">Vlb</h2>
        <h3 class="subheading-2 font-medium text-secondary m-0">
          Current vlb of shipping packages
        </h3>
        <h4
          [class.text-green]="true"
          class="subheading-1 font-medium mt-4 mb-0"
        >
          <span>{{ this.totalVlb.toFixed(2) }} vlb</span>
        </h4>

        <button
          matTooltip="( height * width * length) / 166"
          class="absolute top-0 left-0 mt-2 ml-2 text-hint"
          mat-icon-button
          matTooltipPosition="after"
          type="button"
        >
          <mat-icon height="18px" width="18px">help</mat-icon>
        </button>
      </div>
      <div
        class="card p-6 relative hover:shadow-16 trans-shadow"
        fxLayout="column"
        fxLayoutAlign="space-evenly center"
        fxFlex="33"
      >
        <div
          class="text-primary bg-primary/10"
          class="rounded-full w-12 h-12 flex items-center justify-center"
        >
          <mat-icon
            ><span class="material-symbols-outlined"> weight </span></mat-icon
          >
        </div>

        <h2 class="display-2 font-bold mt-4 mb-2">Weight</h2>
        <h3 class="subheading-2 font-medium text-secondary m-0">
          Current weight of shipping packages
        </h3>
        <h4
          [class.text-green]="true"
          class="subheading-1 font-medium mt-4 mb-0"
        >
          <span>{{ this.totalWeight.toFixed(2) }} pounds</span>
        </h4>
        <button
          matTooltip="Weight of the Guides after repacking"
          class="absolute top-0 left-0 mt-2 ml-2 text-hint"
          mat-icon-button
          matTooltipPosition="after"
          type="button"
        >
          <mat-icon height="18px" width="18px">help</mat-icon>
        </button>
      </div>
    </div>
    <br /><br />
    <div fxLayout="column" fxLayoutAlign="space-around stretch">
      <div
        fxLayout="row"
        fxLayoutGap="5px"
        fxLayoutAlign="space-around center"
        style="background-color: rgba(0, 145, 175, 1)"
        class="card p-6 relative hover:shadow-16 trans-shadow"
      >
        <h1 class="title mt-0 mb-1">
          Organize shipping through the creation of package containers
        </h1>
      </div>
      <br />
      <div
        fxLayout="row"
        fxLayoutGap="10px"
        fxLayoutAlign="space-around center"
      >
        <mat-form-field fxFlex="50">
          <mat-label>Short Desc</mat-label>
          <input type="text" [formControl]="shortDescCtrl" matInput />
          <mat-hint>Short Description for the new container</mat-hint>
        </mat-form-field>

        <ng-container *ngIf="showPackageTypeSelect">
          <mat-form-field fxFlex="50">
            <mat-label>Package Type</mat-label>
            <mat-icon [icIcon]="icMoreVert" class="mr-3" matPrefix></mat-icon>
            <mat-select
              [formControl]="packageTypesCtrl"
              placeholder="Package Type"
              (selectionChange)="setZero()"
              #packageTypesSelect
              matInput
              required
            >
              <mat-option>
                <ngx-mat-select-search
                  placeholderLabel="Search"
                  noEntriesFoundLabel="Not Package Type Found"
                  [formControl]="packageTypesFilterCtrl"
                >
                  <mat-icon
                    [icIcon]="icClose"
                    [inline]="true"
                    size="24px"
                    ngxMatSelectSearchClear
                  ></mat-icon>
                </ngx-mat-select-search>
              </mat-option>

              <mat-option
                *ngFor="let packageType of filteredPackageTypes | async"
                [value]="packageType._id"
              >
                {{ packageType.name }} - Measures (inches) H:{{
                  packageType.height
                }}
                x W:{{ packageType.width }} x L:{{ packageType.length }}
              </mat-option>
            </mat-select>
            <mat-hint>Type of package?</mat-hint>
          </mat-form-field>
          <span fxFlex>
            <button
              (click)="createPackageType()"
              [disabled]="false"
              color="primary"
              mat-stroked-button
              type="button"
            >
              NEW ONE
            </button>
          </span>
          <mat-checkbox [(ngModel)]="showPackageTypeSelect"
            >Use the measurement form instead.</mat-checkbox
          >
        </ng-container>

        <ng-container *ngIf="!showPackageTypeSelect">
          <span fxFlex>
            <mat-checkbox [(ngModel)]="showPackageTypeSelect"
              >Display Package Type Select</mat-checkbox
            >
          </span>
        </ng-container>
      </div>
      <ng-container *ngIf="!showPackageTypeSelect">
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <form
            [formGroup]="packageFormGroup"
            fxflex
            fxLayoutAlign="center center"
          >
            <mat-form-field
              class="flex-auto xs: ml-1"
              fxflex="grow"
              style="width: 300px"
            >
              <mat-label>Height</mat-label>
              <input
                formControlName="height"
                (keypress)="keyPressNumbersWithDecimal($event, 'height')"
                matInput
              />
              <mat-icon [icIcon]="icRule" class="mr-3" matPrefix></mat-icon>
              <mat-hint align="start"
                >Enter the measurements in inches</mat-hint
              > </mat-form-field
            >&nbsp;
            <mat-form-field
              class="flex-auto xs: ml-1"
              fxflex="grow"
              style="width: 300px"
            >
              <mat-label>Width</mat-label>
              <input
                formControlName="width"
                (keypress)="keyPressNumbersWithDecimal($event, 'width')"
                matInput
              />
              <mat-icon
                [icIcon]="icRule"
                class="mr-3"
                matPrefix
              ></mat-icon> </mat-form-field
            >&nbsp;
            <mat-form-field
              class="flex-auto xs: ml-1"
              fxflex="grow"
              style="width: 300px"
            >
              <mat-label>Length</mat-label>
              <input
                formControlName="length"
                (keypress)="keyPressNumbersWithDecimal($event, 'length')"
                matInput
              />
              <!-- <input
              formControlName="length"
              (keypress)="keyPressNumbersWithDecimal($event, 'length')"
              (focusout)="calculaVolume_HxWxL()"
              matInput
            /> -->
              <mat-icon [icIcon]="icRule" class="mr-1" matPrefix></mat-icon>
            </mat-form-field>
          </form>
          <span fxFlex fxLayoutAlign="end center">
            <button
              mat-tooltip="Calculate the volume and vlb with the new measurements of the package, and also sum the total weight of the packages in the shipping container."
              mat-raised-button
              color="primary"
              style="font-size: smaller"
              (click)="calculaVolume_HxWxL(this.shortDescCtrl.value)"
            >
              MAGIC CALCULATOR
            </button>
          </span>
        </div>
      </ng-container>

      <div
        fxLayout="row"
        fxLayoutGap="10px"
        fxLayoutAlign="space-between center"
      >
        <mat-form-field fxFlex>
          <mat-label>New Weight</mat-label>
          <input type="text" [formControl]="weightCtrl" matInput />
          <mat-hint>Weight (pounds lb)</mat-hint>
        </mat-form-field>
        <mat-form-field fxFlex>
          <mat-label>New Volume</mat-label>
          <input type="text" [formControl]="volumeCtrl" matInput />
          <mat-hint>Volume (ft<sup>3</sup>)</mat-hint>
        </mat-form-field>
        <mat-form-field fxFlex>
          <mat-label>New Volumetric Weight</mat-label>
          <input type="text" [formControl]="vlbCtrl" matInput />
          <mat-hint>Volumetric Weight (vlb)</mat-hint>
        </mat-form-field>
        <span fxFlex fxLayoutAlign="end center">
          <button
            *ngIf="mode === 'create'"
            (click)="onSubmitAddPackage()"
            [disabled]="this.shipping.status >= '2'"
            color="primary"
            mat-raised-button
            type="button"
          >
            ADD NEW CONTAINER
          </button>
          <button
            *ngIf="mode === 'update'"
            (click)="onSubmitEditPackage()"
            [disabled]="this.shipping.status === '2'"
            color="primary"
            mat-raised-button
            type="button"
          >
            EDIT CONTAINER
          </button>
          &nbsp;
          <button
            *ngIf="mode === 'update'"
            (click)="cleanArrangeForm()"
            [disabled]="this.shipping.status === '2'"
            color="warn"
            mat-raised-button
            type="button"
          >
            CLEAN CONTAINER
          </button>
        </span>
      </div>
    </div>

    <br /><br />
    <mat-divider></mat-divider>
    <br /><br />
    <vex-temp-shipping-manifest
      (packagesToEdit)="updatePackageContainer($event)"
      [ship]="this.shipping"
      [shippingPackageArray]="this.shippingPackages"
      (packageToEdit)="editArrangeForm($event)"
    ></vex-temp-shipping-manifest>
    <br /><br />
    <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="space-between center">
      <div fxLayout="column" fxFlex="40">
        <vex-widget-quick-line-chart
          [icon]="icMoney"
          [series]="series"
          iconClass="text-primary bg-primary/10"
          label="Shipping value"
          [value]="shippingValue"
        ></vex-widget-quick-line-chart>
      </div>
      <div fxLayout="column" fxFlex="60">
        <vex-widget-assistant
          [shippingCost]="shippingCost"
          [shippingRevenue]="shippingRevenue"
          [quantities]="quantities"
          class="sm:col-span-2"
        ></vex-widget-assistant>
      </div>
    </div>
    <br />
    <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="space-between center">
      <button
        (click)="openBitacora(this.shipping, '0')"
        color="warn"
        mat-raised-button
      >
        PRINT MANIFEST
      </button>
      <button
        (click)="openBitacora(this.shipping, '1')"
        style="background-color: rgb(13, 139, 84); color: white"
        mat-raised-button
      >
        PRINT CARRIER MANIFEST
      </button>
      <div fxLayout="row" fxFlex="10">
        <mat-progress-spinner
          diameter="40"
          mode="indeterminate"
          color="primary"
          *ngIf="spinnerB"
        ></mat-progress-spinner>
      </div>
      <div *ngIf="!spinnerB">
        <button
          color="primary"
          mat-raised-button
          [disabled]="this.shipping.status >= '2'"
          type="submit"
          (click)="save('1')"
        >
          SHIPPING DEPARTURE
        </button>
      </div>
    </div>
  </vex-page-layout-content>
</vex-page-layout>

<mat-menu #columnFilterMenu="matMenu" xPosition="before" yPosition="below">
  <button
    (click)="toggleColumnVisibility(column, $event)"
    *ngFor="let column of columns"
    class="checkbox-item mat-menu-item"
  >
    <mat-checkbox
      (click)="$event.stopPropagation()"
      [(ngModel)]="column.visible"
      color="primary"
    >
      {{ column.label }}
    </mat-checkbox>
  </button>
</mat-menu>

<mat-menu #actionsMenu="matMenu" xPosition="before" yPosition="below">
  <ng-template let-tlPackage="tlPackage" matMenuContent>
    <button (click)="openInvoice(tlPackage)" mat-menu-item>
      <mat-icon [icIcon]="icPrint"></mat-icon>
      <span>Print Guide Invoice</span>
    </button>
    <button
      [disabled]="
        this.shipping.status >= '2' ||
        !this.shippingPackages ||
        tlPackage.shipContainer != 'Loose Packages'
      "
      (click)="assignToPallet(tlPackage)"
      mat-menu-item
    >
      <mat-icon>table_chart</mat-icon>
      <span>Assign to a container</span>
    </button>
    <button
      [disabled]="
        this.shipping.status >= '2' ||
        tlPackage.shipContainer === 'Loose Packages'
      "
      (click)="takeOutOfPallet(tlPackage)"
      mat-menu-item
    >
      <mat-icon
        ><span class="material-symbols-outlined">
          arrow_outward
        </span></mat-icon
      >
      <span>Take out of a container</span>
    </button>
  </ng-template>
</mat-menu>
