<div style="text-align: right; padding: 10px">
  <button
    class="mat-focus-indicator mat-raised-button mat-button-base mat-primary"
    mat-button
    (click)="openPDF()"
  >
    PRINT
  </button>
</div>
<div class="card overflow-hidden" id="printable">
  <div
    *ngFor="let pieza of this.defaults.piezas"
    fxLayout="column"
    fxLayoutAlign="space-around center"
  >
    <vex-qr-guide
      id="QR-{{ pieza.toString() }}"
      [guide]="defaults.guide"
      [pieza]="pieza.toString()"
    ></vex-qr-guide>
    <br />
    <mat-divider class="mat-divider"></mat-divider>
    <br />
  </div>
</div>
