<form (ngSubmit)="save()" [formGroup]="form">
  <div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>

    <h2 *ngIf="form.get('name').value"
        class="headline m-0"
        fxFlex="auto">{{ form.get('name').value }}</h2>
    <h2 *ngIf="!form.get('name').value"
        class="headline m-0"
        fxFlex="auto">New Warehouse</h2>

  <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
      <mat-icon [icIcon]="icClose"></mat-icon>
    </button>
  </div>

  <mat-divider class="-mx-6 text-border"></mat-divider>

  <mat-dialog-content fxLayout="column">
    <div class="flex flex-col sm:flex-row">
      <mat-form-field class="mt-6 flex-auto">
        <mat-label>Warehouse Name</mat-label>
        <input cdkFocusInitial formControlName="name" matInput>

        <mat-icon [icIcon]="icBuild" class="mr-3" matPrefix></mat-icon>
      </mat-form-field>


    </div>

    <mat-form-field class="flex-auto">
      <mat-label>Street</mat-label>
      <input formControlName="street" matInput>

      <mat-icon [icIcon]="icEditLocation" class="mr-3" matPrefix></mat-icon>
    </mat-form-field>

    <div class="flex flex-col sm:flex-row">
      <mat-form-field class="flex-auto">
        <mat-label>Zipcode</mat-label>
        <input formControlName="zipcode" matInput>

        <mat-icon [icIcon]="icMyLocation" class="mr-3" matPrefix></mat-icon>
      </mat-form-field>

      <mat-form-field class="sm:ml-6 flex-auto">
        <mat-label>City</mat-label>
        <input formControlName="city" matInput>

        <mat-icon [icIcon]="icLocationCity" class="mr-3" matPrefix></mat-icon>
      </mat-form-field>
    </div>

    <mat-form-field class="flex-auto">
      <mat-label>Phone Number</mat-label>
      <input formControlName="phoneNumber" matInput>

      <mat-icon [icIcon]="icPhone" class="mr-3" matPrefix></mat-icon>
    </mat-form-field>

    <mat-form-field class="flex-auto">
      <mat-label>Email</mat-label>
      <input formControlName="mail" matInput>

      <mat-icon [icIcon]="icMail" class="mr-3" matPrefix></mat-icon>
    </mat-form-field>

    <mat-form-field class="flex-auto">
      <mat-label>Notes</mat-label>
      <textarea formControlName="notes" matInput></textarea>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close type="button">CANCEL</button>
    <div fxLayout="row" fxLayoutAlign="center center" >
      <mat-progress-spinner diameter="40" mode="indeterminate" color="primary" *ngIf="spinner"></mat-progress-spinner>
    </div>
    <div *ngIf="!spinner">
      <button *ngIf="isCreateMode()" color="primary" mat-button type="submit">CREATE WAREHOUSE</button>
      <button *ngIf="isUpdateMode()" color="primary" mat-button type="submit">UPDATE WAREHOUSE</button>
    </div>
  </mat-dialog-actions>
</form>

