<div class="w-full h-full" fxLayout="column" media="print">
  <div style="text-align: right; padding: 10px">
    <button
      class="mat-focus-indicator mat-raised-button mat-button-base mat-primary"
      mat-button
      (click)="onPrint()"
    >
      PRINT
    </button>
  </div>
  <div class="p-gutter container" id="printable" style="overflow-y: auto">
    <div fxLayout="row">
      <div fxFlex="50%">
        <img class="h-20" src="assets/img/tlcargo/tl_cargo_3.png" />
      </div>
      <div fxFlex="50%" fxLayout="column" style="text-align: right">
        <h3>TL Cargo</h3>
        <span style="font-size: xx-small">
          8520 NW 66th St <br />MIAMI, FL 33166.<br />UNITED STATES<br />
          Tel: (USA) 786-409-7088<br />
          Tel: (VE) 212-7204488
        </span>
      </div>
    </div>
    <div fxLayout="row" style="text-align: center">
      <h1>{{ this.shipping.name }}'s Package List</h1>
    </div>

    <hr />
    <br />
    <div class="rowInvoice">
      <div class="columnInvoice">
        <table class="tg">
          <thead>
            <tr>
              <th class="tg-ar5m">Shipping Departure Date</th>
              <th class="tg-ar5m">Shipping Number</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="tg-c3qv">
                {{ this.shipping.departureDate.toString().split("T")[0] }}
              </td>
              <td class="tg-c3qv">
                {{ this.shipping._id.toString().substr(0, 10) }} -
                <div
                  [ngClass]="this.statusPrint[0].previewClass"
                  class="h-6 align-middle ltr:mr-2 rtl:ml-2 rounded inline-block"
                  style="padding: 3px"
                >
                  <span style="font-size: small; font-weight: bold">{{
                    this.statusPrint[0].text
                  }}</span>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="rowInvoice">
      <div class="columnInvoice">
        <table class="tg">
          <thead>
            <tr>
              <th class="tg-ar5m">Send To</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="tg-c3qv">
                {{ this.shipping.arrivalHub.name }}
                <br />
                Tel: {{ this.shipping.arrivalHub.phoneNumber }} - Email:
                {{ this.shipping.arrivalHub.mail }}
                <br />
                Warehouse Address: {{ this.shipping.arrivalHub.street }},
                {{ this.shipping.arrivalHub.city }}
                <br />
                Zipcode: {{ this.shipping.arrivalHub.zipcode }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="columnInvoice">
        <table class="tg">
          <thead>
            <tr>
              <th class="tg-ar5m">Details</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="tg-c3qv-xs">
                Shipment Name: {{ this.shipping.name }}<br />
                Origin/Destination: {{ this.shipping.departureHub.city }} /
                {{ this.shipping.arrivalHub.city }}<br />
                Departure Date: {{ this.shipping.departureDate }}<br />
                Estimate Arrival Date: {{ this.shipping.arrivalDate }}<br />
                Pieces / Weight: {{ this.packageQ }} /
                {{ this.totalWeight }} lb<br />
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <table class="table w-full mt-24">
      <thead>
        <tr>
          <th
            class="body-2 border-b border-r text-left"
            style="padding: 5px; width: 10%"
          >
            GUIDE ID
          </th>
          <th
            class="body-2 border-b border-r text-left"
            style="padding: 5px; width: 10%"
          >
            PKG ID
          </th>
          <th
            class="body-2 border-b border-r text-left"
            style="padding: 5px; width: 20%"
          >
            Tracking ID
          </th>
          <th
            class="body-2 border-b border-r text-left"
            style="padding: 5px; width: 40%"
          >
            Short Desc
          </th>
          <th
            class="body-2 border-b text-left"
            style="padding: 5px; width: 30%"
          >
            Paq. measurements
          </th>
          <th
            class="body-2 border-b text-left"
            style="padding: 5px; width: 30%"
          >
            Paq. weight
          </th>
          <th
            class="body-2 border-b text-left"
            style="padding: 5px; width: 30%"
          >
            Paq. volume
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of this.packagesGuided">
          <td
            *ngIf="item.guideFlag"
            class="py-4 border-b border-r"
            style="padding: 5px"
          >
            <ngx-barcode
              [bc-height]="20"
              [bc-width]="0.4"
              bc-font-size="10"
              [bc-value]="item.guide._id"
              [bc-display-value]="true"
            ></ngx-barcode>
          </td>
          <td
            *ngIf="item.guideFlag"
            class="py-4 border-b border-r"
            style="padding: 5px"
          ></td>
          <td
            *ngIf="item.guideFlag"
            class="py-4 border-b border-r"
            style="padding: 5px; font-size: x-small"
          >
            {{ item.trackingId }}
          </td>
          <td
            *ngIf="item.guideFlag"
            class="py-4 border-b border-r"
            style="padding: 5px; font-size: x-small"
          >
            {{ item.shortDesc }}
          </td>
          <td
            *ngIf="item.guideFlag"
            class="py-4 border-b"
            style="padding: 5px; font-size: x-small"
          >
            {{ item.measurement }}
          </td>
          <td *ngIf="item.guideFlag" class="py-4 border-b" style="padding: 5px">
            {{ item.weight }}
          </td>
          <td *ngIf="item.guideFlag" class="py-4 border-b" style="padding: 5px">
            {{ this.shipping.type === "AIR" ? item.vlb : item.volume }}
          </td>

          <td
            *ngIf="!item.guideFlag"
            class="py-4 border-b border-r text-secondary"
            style="padding: 5px; font-size: small"
          ></td>
          <td
            *ngIf="!item.guideFlag"
            class="py-4 border-b border-r text-secondary"
            style="padding: 5px; font-size: small"
          >
            <ngx-barcode
              [bc-height]="20"
              [bc-width]="0.4"
              bc-font-size="10"
              [bc-value]="item._id"
              [bc-display-value]="true"
            ></ngx-barcode>
          </td>
          <td
            *ngIf="!item.guideFlag"
            class="py-4 border-b border-r text-secondary"
            style="padding: 5px; font-size: x-small"
          >
            {{ item.trackingId }}
          </td>
          <td
            *ngIf="!item.guideFlag"
            class="py-4 border-b border-r text-secondary"
            style="padding: 5px; font-size: xx-small"
          >
            {{ item.shortDesc }}
          </td>
          <td
            *ngIf="!item.guideFlag"
            class="py-4 border-b text-secondary"
            style="padding: 5px; font-size: x-small"
          >
            {{ item.measurement }}
          </td>
          <td
            *ngIf="!item.guideFlag"
            class="py-4 border-b text-secondary"
            style="padding: 5px; font-size: small"
          >
            {{ item.weight }}
          </td>
          <td
            *ngIf="!item.guideFlag"
            class="py-4 border-b text-secondary"
            style="padding: 5px; font-size: small"
          >
            {{ this.shipping.type === "AIR" ? item.vlb : item.volume }}
          </td>
        </tr>
        <tr *ngIf="this.packageQ === 0">
          <td
            colspan="5"
            class="py-4 border-b text-secondary"
            style="padding: 5px"
          >
            Shipping without associated package
          </td>
        </tr>
      </tbody>
    </table>
    <table class="table w-full mt-24">
      <thead>
        <tr>
          <td class="headline font-medium text-left pt-6">
            {{ this.shipping.type === 'AIR' ? 'Air Freight Service': Sea Freight Service' }}
          </td>
          <td
            class="headline font-medium text-left pt-6"
            style="text-align: right"
            colspan="3"
          >
            TOTALS
          </td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="body-2 text-right">Package Q</td>
          <td class="body-2 text-right">{{ this.packageQ }}</td>
        </tr>
      </tbody>
    </table>
    <div
      class="mt-8"
      fxLayout="column"
      fxLayoutAlign="start end"
      style="font-size: 10pt"
    >
      Powered by www.doghoundtechnology.com
    </div>
  </div>
</div>
