<mat-dialog-content fxLayout="column">
  <div class="flex flex-col sm:flex-row gap-4">
    <div class="card flex-auto">
      <div class="px-6 py-4 border-b flex items-center">
        <h2 class="headline m-0" fxFlex="auto">Delivery Association </h2>
        <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
          <mat-icon [icIcon]="icClose"></mat-icon>
        </button>
      </div>
      <div class="px-6 py-4 flex flex-col" [innerHTML]="this.packageToShow"></div>
      <div class="px-6 py-4 flex flex-col">
        <div class="flex flex-col sm:flex-row" style="padding-top: 20px">
          <mat-form-field class="flex-auto" >
            <mat-label>Deliveries Availables</mat-label>
            <mat-icon [icIcon]="icMoreVert" class="mr-3" matPrefix></mat-icon>
            <mat-select [formControl]="deliveriesCtrl" placeholder="Deliveries" #deliverySelect matInput required>
              <mat-option>
                <ngx-mat-select-search placeholderLabel="Search" noEntriesFoundLabel="No deliveries Founded" [formControl]="deliveriesFilterCtrl">
                  <mat-icon [icIcon]="icClose" [inline]="true" size="12px" ngxMatSelectSearchClear></mat-icon>
                </ngx-mat-select-search>
              </mat-option>
              <mat-option *ngFor="let delivery of filteredDelivery  | async" [value]="delivery._id" >
                {{ delivery.name }}
              </mat-option>
            </mat-select>
            <mat-hint>Which delivery you are associating the package?</mat-hint>
          </mat-form-field>
        </div >
        <div class="flex flex-col sm:flex-row" style="padding-top: 20px;">

          <mat-form-field class="flex-auto" >
            <mat-label>Aditional Information</mat-label>
            <input type="text" [formControl]="aditionalInfoCtrl" matInput width="100%" />
            <mat-hint>Tracking Id, Delivery information, Estimated arrival time, other...</mat-hint>
          </mat-form-field>
        </div>
        <div class="flex flex-col sm:flex-row" style="padding-top: 20px">
          <mat-checkbox class="checkbox" [formControl] = "notificationCtrl" value="false">
            <span class="flex-auto"> Send a notification email to the customer?</span>
          </mat-checkbox>
        </div>
        <br>
        <mat-divider></mat-divider>
        <br>
        <div class="flex items-center justify-end gap-2">
          <div fxLayout="row" fxLayoutAlign="center center" >
            <mat-progress-spinner diameter="40" mode="indeterminate" color="primary" *ngIf="spinner"></mat-progress-spinner>
          </div>
          <div *ngIf="!spinner">
            <button (click)="submit()" [disabled]="false" color="primary" mat-raised-button>
              SAVE ASSOCIATION
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-dialog-content>
