<div style="text-align: right; padding: 10px">
  <button
    class="mat-focus-indicator mat-raised-button mat-button-base mat-primary"
    mat-button
    (click)="onPrint()"
  >
    PRINT
  </button>
</div>
<div class="card overflow-hidden" id="printable">
  <div
    *ngFor="let tlPkg of this.defaults.tlPackages; let i = index"
    fxLayout="column"
    fxLayoutAlign="space-around center"
  >
    <vex-qr-generator-multi
      [tlPckg]="tlPkg"
      [idQR]="i"
    ></vex-qr-generator-multi>
    <br />
    <mat-divider class="mat-divider"></mat-divider>
    <br />
  </div>
</div>
