<div class="grid-cols-12" >
  <div class="cardTl" fxLayout="row" fxLayout.gt-sm="row">
  <div class="p-8" fxFlex="auto">
    <div *ngIf="address">
      <h2  class="title mt-0 mb-4">
        {{ this.printableAddressType}} Address <span *ngIf="isDefault">(Selected as default)</span>
      </h2>
    </div>

    <mat-list class="list mat-elevation-z1">
      <mat-list-item>
        <img mat-list-avatar src="assets/img/tlcargo/address.png">

        <div *ngIf="address">
          <h3 matLine matTooltip="{{this.oneLineAddress()}}">{{this.oneLineAddress().length >= 45 ? this.oneLineAddress().substr(0, 45)+'...': this.oneLineAddress()}}</h3>
          <p matLine>
            <span>{{this.address.state||'-'}}, {{this.address.country||'-'}}</span>
            <span class="subline">, Zip:{{this.address.zipcode||'-'}}</span>
          </p>
        </div>

      </mat-list-item>
    </mat-list>
  </div>
  <div class="border-l p-4" fxFlex="auto" style="padding-top: 20px;">
    <h2 class="title mt-0 mb-4">Address Book</h2>
    <button (click)="showAddresses()" mat-menu-item style="color: white; background-color: darkcyan; border-radius: 20px; text-align: center; width:60%">
      <mat-icon [icIcon]="icEditLocation"></mat-icon>
      <span>See Address Book</span>
    </button>
    <h4 class="body-2 text-secondary m-0">Check here all the customer Addresses</h4>
  </div>
</div>
</div>
