<div class="w-full h-full" fxLayout="column" media="print">
  <div style="text-align: right; padding: 10px">
    <button
      class="mat-focus-indicator mat-raised-button mat-button-base mat-primary"
      mat-button
      (click)="onPrint()"
    >
      PRINT
    </button>
  </div>
  <div class="p-gutter container" id="printable" style="overflow-y: auto">
    <div fxLayout="row">
      <div fxFlex="50%">
        <img class="h-20" src="assets/img/tlcargo/tl_cargo_3.png" />
      </div>
      <div fxFlex="50%" fxLayout="column" style="text-align: right">
        <h3>TL Cargo</h3>
        <span style="font-size: xx-small">
          8520 NW 66th St <br />MIAMI, FL 33166.<br />UNITED STATES<br />
          Tel: (USA) 786-409-7088<br />
          Tel: (VE) 212-7204488
        </span>
      </div>
    </div>
    <div fxLayout="row" style="text-align: center">
      <h1>{{ this.shipping.name }}'s Package Manifest</h1>
    </div>

    <hr />
    <br />
    <div class="rowInvoice">
      <div class="columnInvoice">
        <table class="tg">
          <thead>
            <tr>
              <th class="tg-ar5m">Shipping Departure Date</th>
              <th class="tg-ar5m">Shipping ID-QR</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="tg-c3qv">
                {{ this.shipping.departureDate.toString().split("T")[0] }}
              </td>
              <td class="tg-c3qvr">
                <div>
                  <qr-code [value]="this.shipping._id" size="50"></qr-code>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="rowInvoice">
      <div class="columnInvoice">
        <table class="tg">
          <thead>
            <tr>
              <th class="tg-ar5m">Send To</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="tg-c3qv">
                {{ this.shipping.arrivalHub.name }}
                <br />
                Tel: {{ this.shipping.arrivalHub.phoneNumber }} - Email:
                {{ this.shipping.arrivalHub.mail }}
                <br />
                Warehouse Address: {{ this.shipping.arrivalHub.street }},
                {{ this.shipping.arrivalHub.city }}
                <br />
                Zipcode: {{ this.shipping.arrivalHub.zipcode }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="columnInvoice">
        <table class="tg">
          <thead>
            <tr>
              <th class="tg-ar5m">Details</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="tg-c3qv-xs">
                Shipment Name: {{ this.shipping.name }}<br />
                Carrier Name: {{ this.shipping.carrier.name }}<br />
                Origin/Destination: {{ this.shipping.departureHub.city }} /
                {{ this.shipping.arrivalHub.city }}<br />
                Departure Date:
                {{ this.shipping.departureDate.toString().split("T")[0] }}<br />
                Estimate Arrival Date:
                {{ this.shipping.arrivalDate.toString().split("T")[0] }}<br />
                Pieces / Weight: {{ this.packageQ }} /
                {{ this.totalWeight }} lbs.<br />
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <table class="table w-full mt-24">
      <thead>
        <tr>
          <th
            class="body-2 border-b border-r text-left"
            style="padding: 5px; width: 20%"
          >
            Container ID
          </th>
          <th
            class="body-2 border-b text-left"
            style="padding: 5px; width: 20%"
          >
            Measurements
          </th>
          <th
            class="body-2 border-b text-left"
            style="padding: 5px; width: 25%"
          >
            Weight
          </th>
          <th
            class="body-2 border-b text-left"
            style="padding: 5px; width: 15%"
          >
            Volume
          </th>
          <th
            class="body-2 border-b text-left"
            style="padding: 5px; width: 15%"
          >
            Packages Q
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of this.shippingManifest">
          <td
            class="py-4 border-b border-r"
            style="padding: 5px; font-size: 10pt"
          >
            {{ item.shortDesc }}
          </td>
          <td
            class="py-4 border-b border-r"
            style="padding: 5px; font-size: 10pt"
          >
            {{ item.measures }}
          </td>
          <td
            class="py-4 border-b border-r"
            style="padding: 5px; font-size: 10pt"
          >
            {{ item.finalWeight.toFixed(2) }} lbs. /
            {{ item.finalVlb.toFixed(2) }} vlb.
          </td>
          <td class="py-4 border-b" style="padding: 5px; font-size: 10pt">
            {{ item.finalVolume.toFixed(2) }} ft<sup>3</sup>
          </td>
          <td class="py-4 border-b" style="padding: 5px; font-size: 10pt">
            {{ item.packageList.length }}
          </td>
        </tr>
        <tr *ngIf="this.packageQ === 0">
          <td colspan="5" class="py-4 border-b" style="padding: 5px">
            Shipping without associated package
          </td>
        </tr>
      </tbody>
    </table>
    <ng-container *ngIf="this.type === '0'">
      <table class="table w-full mt-24">
        <thead>
          <tr>
            <th
              class="body-2 border-b border-r text-left"
              style="padding: 5px; width: 20%"
            >
              Container ID
            </th>
            <th
              class="body-2 border-b border-r text-left"
              style="padding: 5px; width: 20%"
            >
              Guide ID
            </th>
            <th
              class="body-2 border-b text-left"
              style="padding: 5px; width: 20%"
            >
              Paq. measurements
            </th>
            <th
              class="body-2 border-b text-left"
              style="padding: 5px; width: 25%"
            >
              Paq. weight
            </th>
            <th
              class="body-2 border-b text-left"
              style="padding: 5px; width: 25%"
            >
              Paq. volume
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of this.packages">
            <td
              class="py-4 border-b border-r"
              style="padding: 5px; font-size: 10pt"
            >
              {{ item.shipContainer }}
            </td>
            <td
              class="py-4 border-b border-r"
              style="padding: 5px; font-size: 10pt"
            >
              {{ item.guideId }} - {{ item.guideCounter }}
            </td>
            <td
              class="py-4 border-b border-r"
              style="padding: 5px; font-size: 10pt"
            >
              {{
                "H:" +
                  item.package.height +
                  "xW:" +
                  item.package.width +
                  "xL:" +
                  item.package.length
              }}
            </td>
            <td
              class="py-4 border-b border-r"
              style="padding: 5px; font-size: 10pt"
            >
              Weight: {{ item.weight }} / Vlb: {{ item.vlb }}
            </td>
            <td class="py-4 border-b" style="padding: 5px; font-size: 10pt">
              {{ item.volume }}
            </td>
          </tr>
          <tr *ngIf="this.packages.length === 0">
            <td
              colspan="5"
              class="py-4 border-b"
              style="padding: 5px font-size:10pt"
            >
              Shipping without associated package
            </td>
          </tr>
        </tbody>
      </table>
    </ng-container>

    <table class="table w-full mt-24">
      <thead>
        <tr>
          <td class="headline font-medium text-left pt-6">
            {{
              this.shipping.type === "AIR"
                ? "Air Freight Service"
                : "Sea Freight Service"
            }}
          </td>
          <td
            class="headline font-medium text-left pt-6"
            style="text-align: right"
            colspan="3"
          >
            TOTALS
          </td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="body-2 text-right">Package Q</td>
          <td class="body-2 text-right">{{ this.packages.length }}</td>
        </tr>
      </tbody>
    </table>
    <div
      class="mt-8"
      fxLayout="column"
      fxLayoutAlign="start end"
      style="font-size: 10pt"
    >
      Powered by www.doghoundtechnology.com
    </div>
  </div>
</div>
